<p-toast key="plan" position="bottom-left"></p-toast>

<form #formDir="ngForm" [formGroup]="addEditForm" (ngSubmit)="addEditPlan()">
  <div class="container row">
    <div class="col-6 mt-2" [ngClass]="{'readonly-field': true}">
      <label for="planingId"> برنامه</label>
      <p-dropdown id="planingId" name="planingId" formControlName="planingId" styleClass="w-100 my-1" [readonly]="true"
        optionLabel="title" optionValue="id" placeholder="انتخاب کنید" [options]="planingList" [filter]="true">
      </p-dropdown>
    </div>

    <div class="col-6 mt-2">
      <label for="title"> عنوان </label>
      <input pInputText id="title" name="title" formControlName="title" class="w-100 my-1"
        [class.ng-invalid]="title?.invalid" [class.ng-dirty]="
          (addEditFormSubmitted && title?.pristine) ||
          title?.dirty ||
          title?.touched
        " />
    </div>
    <div class="col-6 mt-2">
      <label for="keyTypeCode"> کلید واژه</label>
      <p-dropdown id="keyTypeCode" name="keyTypeCode" formControlName="keyTypeCode" styleClass="w-100 my-1"
        optionLabel="title" optionValue="id" placeholder="انتخاب کنید" [options]="KeyTypeList" [filter]="true">
      </p-dropdown>
    </div>
    <div class="col-12 row-btn row-btn-fixed-bottom">
      <p-button class="pe-2 p-button-wide" styleClass="p-button-success" [label]="'ثبت'" type="submit"
        [loading]="isLoadingSubmit"></p-button>
    </div>
  </div>
</form>