<form #formDir="ngForm" [formGroup]="addEditContractNoForm" (ngSubmit)="addEditContractNo()">
  <div class="container row">
    <div class="col-6 mt-2">
      <label for="companyId"> شرکت</label>
      <p-dropdown id="companyId" name="companyId" formControlName="companyId" styleClass="w-100 my-1"
        optionLabel="partyName" optionValue="id" placeholder="انتخاب کنید" [options]="companyList" [filter]="true"
        [class.ng-invalid]="companyId?.invalid" [class.ng-dirty]="
          (addEditContractNoSubmitted && companyId?.pristine) ||
          companyId?.dirty ||
          companyId?.touched
        ">
      </p-dropdown>
    </div>
    <div class="col-6 mt-2">
      <label for="contractCode">شماره قرارداد</label>
      <input pInputText pKeyFilter="int" id="contractCode" name="contractCode" formControlName="contractCode"
        type="text" class="w-100" [class.ng-invalid]="contractCode?.invalid" [class.ng-dirty]="
        (addEditContractNoSubmitted && contractCode?.pristine) ||
        contractCode?.dirty ||
        contractCode?.touched
      " />
    </div>

    <div class="col-6 mt-2">
      <label for="contracTypeID">نوع قرارداد</label>
      <p-dropdown id="contracTypeID" name="contracTypeID" formControlName="contracTypeID" styleClass="w-100 my-1"
        optionLabel="title" optionValue="id" placeholder="انتخاب کنید" [options]="contracTypeLst" [filter]="true"
        [class.ng-invalid]="contracTypeID?.invalid" [class.ng-dirty]="
        (addEditContractNoSubmitted && contracTypeID?.pristine) ||
        contracTypeID?.dirty ||
        contracTypeID?.touched
      ">
      </p-dropdown>
    </div>
    <div class="col-6 mt-2">
      <label for="employerID">مجری</label>
      <p-dropdown id="employerID" name="employerID" formControlName="employerID" styleClass="w-100 my-1"
        optionLabel="partyName" optionValue="id" placeholder="انتخاب کنید" [options]="employerLst" [filter]="true"
        [class.ng-invalid]="employerID?.invalid" [class.ng-dirty]="
        (addEditContractNoSubmitted && employerID?.pristine) ||
        employerID?.dirty ||
        employerID?.touched
      ">
      </p-dropdown>
    </div>
    <div class="col-6 mt-2">
      <label for="contractorID">پیمان کار</label>
      <p-dropdown id="contractorID" name="contractorID" formControlName="contractorID" styleClass="w-100 my-1"
        optionLabel="partyName" optionValue="id" placeholder="انتخاب کنید" [options]="contractorLst" [filter]="true"
        [class.ng-invalid]="contractorID?.invalid" [class.ng-dirty]="
        (addEditContractNoSubmitted && contractorID?.pristine) ||
        contractorID?.dirty ||
        contractorID?.touched
      ">
      </p-dropdown>
    </div>
    <div class="col-6 mt-2">
      <label for="contractDate">تاریخ قرارداد</label>
      <p-persian-calendar id="contractDate" name="contractDate" formControlName="contractDate" styleClass="w-100 "
        [class.ng-invalid]="contractDate?.invalid" [class.ng-dirty]="
        (addEditContractNoSubmitted && contractDate?.pristine) ||
        contractDate?.dirty ||
        contractDate?.touched
      ">
      </p-persian-calendar>
    </div>
    <div class="col-6 mt-2">
      <label for="contractFromDate">تاریخ شروع قرارداد</label>
      <p-persian-calendar id="contractFromDate" name="contractFromDate" formControlName="contractFromDate"
        styleClass="w-100 " [class.ng-invalid]="contractFromDate?.invalid" [class.ng-dirty]="
        (addEditContractNoSubmitted && contractFromDate?.pristine) ||
        contractFromDate?.dirty ||
        contractFromDate?.touched
      ">
      </p-persian-calendar>
    </div>
    <div class="col-6 mt-2">
      <label for="contractToDate">تاریخ پایان قرارداد</label>
      <p-persian-calendar id="contractToDate" name="contractToDate" formControlName="contractToDate" styleClass="w-100 "
        [class.ng-invalid]="contractToDate?.invalid" [class.ng-dirty]="
        (addEditContractNoSubmitted && contractToDate?.pristine) ||
        contractToDate?.dirty ||
        contractToDate?.touched
      ">
      </p-persian-calendar>
    </div>

    <div class="col-6 mt-2">
      <label for="contractPriceCu">مبلغ قرارداد(میلیون ریال)</label>
      <p-inputNumber id="contractPriceCu" name="contractPriceCu" formControlName="contractPriceCu" inputId="integeronly"
        class="w-100" [class.ng-invalid]="contractPriceCu?.invalid" [class.ng-dirty]="
        (addEditContractNoSubmitted && contractPriceCu?.pristine) ||
        contractPriceCu?.dirty ||
        contractPriceCu?.touched
      "></p-inputNumber>
    </div>


    <div class="col-12 row-btn row-btn-fixed-bottom">
      <p-button class="pe-2" styleClass="p-button-warning" label="انصراف" icon="pi pi-times"
        (click)="closeModal()"></p-button>
      <p-button class="pe-2 p-button-wide" styleClass="p-button-success" [label]="'ثبت'" type="submit"
        [loading]="isLoadingSubmit"></p-button>
    </div>
  </div>
</form>