<div class=" page-content">
    <div class="row">
        <div class="box col-sm-4">
            <h5>جدول یک</h5>
            <div class="box-content present-box">

                <div class=" d-flex justify-content-center present-box_1">
                    <img ngSrc="icons/Project.svg" width="24" height="24" />
                    <p class="title">185بنگاه</p>
                </div>
                <div class="d-flex gap-3  present-box_2">
                    <div class="box-detail-space-between col"> <span class="font-bold">500همت</span> <span>دارایی</span>
                    </div>
                    <div class="box-detail-space-between col "> <span class="font-bold">25همت</span>
                        <span>سودآوری</span> </div>
                </div>
                <div class="d-flex gap-2 present-box_3">
                    <div class="box-detail col"> 40شرکت بورسی </div>
                    <div class="box-detail col"> 40شرکت بورسی </div>
                    <div class="box-detail col"> 40شرکت بورسی </div>
                    <div class="box-detail col"> 40شرکت بورسی </div>
                </div>
            </div>
        </div>
        <div class="box col-sm-4">
            <h5>جدول یک</h5>
            <div class="box-content">
                <ul>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                </ul>
            </div>
        </div>
        <div class="box col-sm-4">
            <h5>جدول یک</h5>
            <img src="../../../../assets/images/f2.png" style="width: 100%; height: 159px;">
        </div>
    </div>
    <div class="row row-cols-5 mt-12">
        <div class="box">
            <h5>جدول یک</h5>
            <div class="box-content">
                <ul>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <h5>جدول یک</h5>
            <div class="box-content">
                <ul>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <h5>جدول یک</h5>
            <div class="box-content">
                <ul>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <h5>جدول یک</h5>
            <div class="box-content">
                <ul>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <h5>جدول یک</h5>
            <div class="box-content">
                <ul>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row  mt-12">
        <div class="box col-8">
            <h5>جدول یک</h5>
            <div class="box-content">
                <ul>
                    <li>
                        <div class="d-flex justify-content-between">
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between">
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between">
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between">
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex justify-content-between">
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                            <span>30 شرکت، 100 همت دارایی</span>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="box col-2">
            <h5>جدول یک</h5>
            <div class="box-content">
                <ul>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                </ul>
            </div>
        </div>
        <div class="box col-2">
            <h5>جدول یک</h5>
            <img src="../../../../assets/images/f1.png" style="width: 100%; height: 159px;">

        </div>
    </div>

</div>