.data-table__header {
    width: 100%;
    display: flex;
}

.headerStyle {
    &:last-child{
     margin-left: 0px; 
    }
    background-color:  #0AB39C;
    color: #ffffff;
    height: 38px;
    border-radius: 8px;
    padding-top: 8px;
    display: inline-block;
    margin-left: 7px;
    // width: inherit;
    text-align: -webkit-center;
}

.detailStyle{
    display: flex;
    padding: 8px;
    margin: 5px 0;
    border-radius: 8px;
}



//   :host ::ng-deep .data-table__header ng-star-inserted {
//     position: relative !important;
//     display: -webkit-inline-flex !important;
// }