<div class="row bottom-section">
  <div class="co-info-box">
    <h3>{{ selectedPlanName }}</h3>
    <div class="row row-feature">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
        <div class="row">
          <app-select-date [companyId]="inputData.companyId" [selectType]="selectDateType"
            (selectedVal)="returnSelectedDate($event)"></app-select-date>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
        <!-- <div class="items select-feature">
          <span>شرح</span>
        </div> -->
      </div>
    </div>
    <div class="row">
      <p-table #dataTable dataKey="id" class="data-table d-none d-lg-block" [styleClass]="gridClass" [rowHover]="true"
        [paginator]="true" [rows]="dataTableRows" [rowsPerPageOptions]="[10, 20, 30]" [totalRecords]="totalCount"
        [value]="planDetailData" [loading]="loading" [tableStyle]="{ 'min-width': '75rem' }" [lazy]="true"
        [(first)]="first">
        <!-- table header -->
        <ng-template pTemplate="header">
          <tr class="data-table__header w-100">
            <div class="headerStyle" style="width: 50%">
              <th>
                <strong> عنوان ریسک </strong>
              </th>
            </div>
            <div class="headerStyle" style="width: 10%">
              <th>
                <strong> نوع </strong>
              </th>
            </div>
            <div class="headerStyle" style="width: 30%">
              <th style="width: 10%"><strong> احتمال </strong></th>
              <th style="width: 10%"><strong> شدت اثر </strong></th>
              <th style="width: 10%"><strong> سطح ریسک </strong></th>
            </div>
            <div class="headerStyle" style="width: 10%">
              <th style="width: 10%">
                <strong> پیامد ریسک در بودجه </strong>
              </th>
            </div>
            <!-- <div class="headerStyle">
              <th style="min-width: 7rem"><strong> بدبینانه </strong></th>
              <th style="min-width: 7rem"><strong> خوش بینانه </strong></th>
            </div> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-risk let-rowIndex="rowIndex">
          <tr style="font-size: 13px" class="w-100">
            <div class="detailStyle" [ngStyle]="{ 'background-color': risk.color }">
              <td style="width: 50%" [ngStyle]="{ color: risk.fontColor }">
                {{ risk.title }}
              </td>
              <td style="width: 10%" [ngStyle]="{ color: risk.fontColor }">
                {{ risk.keyTypeTitle }}
              </td>
              <td style="width: 10%" [ngStyle]="{ color: risk.fontColor }">
                {{ risk.possibility }}
              </td>
              <td style="width: 10%" [ngStyle]="{ color: risk.fontColor }">
                {{ risk.riskIntensity }}
              </td>
              <td style="width: 10%" [ngStyle]="{ color: risk.fontColor }">
                {{ risk.riskLevel }}
              </td>
              <td style="width: 10%" [ngStyle]="{ color: risk.fontColor }">
                {{ risk.effectBudget }}
              </td>
              <!-- <td style="min-width: 7rem" [ngStyle]="{ color: risk.fontColor }">
                {{ risk.possimistically }}
              </td>
              <td style="min-width: 7rem" [ngStyle]="{ color: risk.fontColor }">
                {{ risk.optimistically }}
              </td> -->
            </div>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>