<div class="row bottom-section">
  <div class="co-info-box">
    <h3>{{ selectedPlanName }}</h3>
    <div class="row row-feature">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box">
        <div class="row">
          <app-select-date
            [selectType]="selectDateType"
            (selectedVal)="returnSelectedDate($event)"></app-select-date>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box">
        <ng-container *ngIf="viewMode !== 'table'">
          <div
            *ngFor="let item of priceTypeList"
            class="items"
            (click)="onSelectPriceType(item.id)"
            [class.select-feature]="item.isSelected">
            <span>{{ item.title }}</span>
          </div>
        </ng-container>
      </div>

      <div *ngIf="viewMode === 'treeTable'" class="table-container">
        <p-treeTable
          class="treeTable-container"
          [value]="treeTableData?.budgetDetails"
          [columns]="treeTableData?.headers"
          selectionMode="checkbox"
          [(selection)]="selectedRows"
          [scrollable]="true"
          [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.headerName }}
              </th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowNode
            let-rowData="rowData"
            let-columns="columns">
            <tr [ttRow]="rowNode">
              <td
                *ngFor="let col of columns; let i = index"
                [class.negativeNumbers]="rowData[col.field] < 0"
                [class.pasitiveNumbers]="rowData[col.field] > 0">
                <i *ngIf="rowData[col.field] < 0" class="pi pi-arrow-down"></i>
                <i *ngIf="rowData[col.field] > 0" class="pi pi-arrow-up"></i>
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" />
                <p-treeTableCheckbox [value]="rowNode" *ngIf="i === 0" />

                {{ rowData[col.field] }}
              </td>
              <!-- <td></td> -->
            </tr>
          </ng-template>
        </p-treeTable>
      </div>

      <div *ngIf="viewMode === 'chart'">
        <div *ngIf="selectedPriceTypeId === 1 || selectedPriceTypeId === 0">
          <canvas
            id="LineChart1"
            width="900"
            height="200"
            style="display: unset"></canvas>
        </div>
        <div *ngIf="selectedPriceTypeId === 2 || selectedPriceTypeId === 0">
          <canvas
            id="LineChart2"
            width="900"
            height="200"
            style="display: unset"></canvas>
        </div>
      </div>

      <div *ngIf="viewMode === 'table'">
        <p-table
          #dataTable
          style="text-align: right"
          dataKey="id"
          [columns]="cols"
          [value]="tableData"
          [paginator]="true"
          [rows]="dataTableRows"
          [rowsPerPageOptions]="[15, 20, 30]"
          [styleClass]="gridClass"
          [rowHover]="true"
          [loading]="loading"
          selectionMode="single"
          [tableStyle]="{ 'min-width': '75rem' }">
          <!-- table header -->

          <!--  table header -->

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                <span> {{ col.headerName }} </span>
              </th>
            </tr>
          </ng-template>
          <!-- / table header -->
          <!-- table body -->

          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <!-- <td>
                {{ rowData['accountReportItemTitle'] }}
              </td> -->

              <td
                *ngFor="let col of columns; let i = index"
                [class.negativeNumbers]="rowData[col.field] < 0"
                [class.pasitiveNumbers]="rowData[col.field] > 0">
                <i *ngIf="rowData[col.field] < 0" class="pi pi-arrow-down"></i>
                <i *ngIf="rowData[col.field] > 0" class="pi pi-arrow-up"></i>
                {{ rowData[col.field] }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
