<div class="page-content">

    <div class="row mt-12">
        <div class="box col-sm-4">
            <h5>جدول یک</h5>
            <img src="../../../../assets/images/Chartist.png" style="width: 100%; height: 166px;">
        </div>
        <div class="box  col-sm-2">
            <h5>جدول یک</h5>
            <div class="box-content">
                <ul>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                </ul>
            </div>
        </div>
        <div class="box  col-sm-2">
            <h5>جدول یک</h5>
            <div class="box-content">
                <ul>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                </ul>
            </div>
        </div>
        <div class="box  col-sm-2">
            <h5>جدول یک</h5>
            <div class="box-content">
                <ul>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                </ul>
            </div>
        </div>
        <div class="box  col-sm-2">
            <h5>جدول یک</h5>
            <div class="box-content">
                <ul>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                    <li>40شرکت</li>
                </ul>
            </div>
        </div>

    </div>

</div>