<p-toast key="bigGoal" position="bottom-left"></p-toast>

<form #formDir="ngForm" [formGroup]="addEditForm" (ngSubmit)="addEditPlan()">
  <div class="container row">
    <div class="col-6 mt-2">
      <label for="bigGoalCode"> کد </label>
      <input
        pInputText
        id="bigGoalCode"
        name="bigGoalCode"
        formControlName="bigGoalCode"
        class="w-100 my-1"
        [class.ng-invalid]="bigGoalCode?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && bigGoalCode?.pristine) ||
          bigGoalCode?.dirty ||
          bigGoalCode?.touched
        " />
    </div>
    <div class="col-6 mt-2">
      <label for="title"> عنوان </label>
      <input
        pInputText
        id="title"
        name="title"
        formControlName="title"
        class="w-100 my-1"
        [class.ng-invalid]="title?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && title?.pristine) ||
          title?.dirty ||
          title?.touched
        " />
    </div>
    <div class="col-6 mt-2">
      <label for="aspectCode">منظر </label>
      <p-dropdown
        id="aspectCode"
        name="aspectCode"
        formControlName="aspectCode"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="aspectCodeList"
        [filter]="true"
        [class.ng-invalid]="aspectCode?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && aspectCode?.pristine) ||
          aspectCode?.dirty ||
          aspectCode?.touched
        ">
      </p-dropdown>
    </div>
    <div class="col-6 mt-2">
      <label for="visionId"> چشم انداز </label>
      <p-dropdown
        id="visionId"
        name="visionId"
        formControlName="visionId"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="visionList"
        [filter]="true"
        [class.ng-invalid]="visionId?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && visionId?.pristine) ||
          visionId?.dirty ||
          visionId?.touched
        ">
      </p-dropdown>
    </div>
    <div class="col-12 row-btn row-btn-fixed-bottom">
      <p-button
        class="pe-2 p-button-wide"
        styleClass="p-button-success"
        [label]="'ثبت'"
        type="submit"
        [loading]="isLoadingSubmit"></p-button>
    </div>
  </div>
</form>
