<p-toast key="strategy" position="bottom-left"></p-toast>


<div class="row row-feature">
  <ng-container *ngFor="let item of planDetailData">
    <div class="col-6 mb-4 d-section">
      <div class="section">
        <div class="action">
          <p-button styleClass="p-button-info" icon="pi pi-plus-circle" label="افزودن"
            (click)="addDetail(item)"></p-button>
        </div>
        <div class="desc">
          <ng-container *ngFor="let desc of item.title">
            <p>
              <button
              class="action-image-container"
              pTooltip=" ویرایش" (click)="editRowDescription(desc)"
              >
              <img ngSrc="icons\Group 116.svg" width="24" height="24" />
            </button>
              {{ desc.title }}</p>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>





<p-dialog *ngIf="isOpenAddEditPlan" [header]="modalTitle" [(visible)]="isOpenAddEditPlan" [modal]="true"
  [draggable]="false" [resizable]="false" [style]="{ width: '700px' }"
  [class.height-size]="mode === 'insert' || mode === 'edit'">
  <!-- <PABudget-add-edit-strategy [data1]="addEditData" [mode]="mode" [planId]="getPlanId"
    (isSuccess)="reloadData()"></PABudget-add-edit-strategy> -->
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" [rtl]="true"></p-confirmDialog>