<p-toast key="personelNo" position="bottom-left"></p-toast>
<div class="table-header">لیست بودجه پرسنل</div>
<div class="justify-content-between pb-3 w-100" style="text-align: end">
  <div>
    <p-button class="pe-2" styleClass="p-button-info" icon="pi pi-plus-circle" label="افزودن"
      (click)="addPersonelNo()"></p-button>
  </div>
</div>
<div class="panel-search mt-8 mb-8">
  <form #formDir="ngForm" [formGroup]="searchPersonelNoForm">
    <div class="row mt-8 pb-3">
      <div class="col my-1">
        <label for="companyId"> شرکت</label>
        <p-dropdown id="companyId" name="companyId" formControlName="companyId" styleClass="w-100 my-1"
          optionLabel="partyName" optionValue="id" placeholder="انتخاب کنید" [options]="companyList" [filter]="true"
          (onChange)="onChangeCompanyId($event)">
        </p-dropdown>
      </div>
      <div class="col my-1">
        <label for="periodId">دوره بودجه</label>
        <p-dropdown id="periodId" name="periodId" formControlName="periodId" styleClass="w-100 my-1"
          optionLabel="periodTitle" optionValue="id" placeholder="انتخاب کنید" [options]="periodLst" [filter]="true"
          (onChange)="onChangePeriod($event)">
        </p-dropdown>
      </div>
      <div class="col my-1">
        <label for="periodDetailId">دوره عملیاتی</label>
        <p-dropdown id="periodDetailId" name="periodDetailId" formControlName="periodDetailId" styleClass="w-100 my-1"
          optionLabel="periodDetailTitle" optionValue="id" [filter]="true" [options]="periodDetailLst"
          placeholder="انتخاب کنید">
        </p-dropdown>
      </div>

      <!-- دکمه -->
      <div class="d-flex justify-content-end col text-end" style="margin-top: 20px">
        <div class="search-button mt-12">
          <div class="clear-search" (click)="clearSearch()">
            <i class="pi pi-filter-slash"></i>
          </div>
          <p-button class="pe-2 p-button-wide" styleClass="p-button-info" [label]="'جستجو'"
            (click)="getPersonalNumberList()"></p-button>
        </div>
      </div>
      <!-- / دکمه -->
    </div>
  </form>
</div>
<div class="table-container">
  <p-table #dataTable dataKey="id" class="data-table d-none d-lg-block" [styleClass]="gridClass" [rowHover]="true"
    [paginator]="true" [rows]="dataTableRows" [rowsPerPageOptions]="[10, 20, 30]" [totalRecords]="totalCount"
    [value]="data" [loading]="loading" [tableStyle]="{ 'min-width': '75rem' }" [lazy]="true"
    (onLazyLoad)="getPersonalNumberList($event)" [(first)]="first">
    <!-- table header -->
    <ng-template pTemplate="header">
      <tr class="data-table__header">
        <th>
          <strong>شرکت</strong>
        </th>
        <th>
          <strong>دوره بودجه</strong>
        </th>
        <th>
          <strong>دوره عملیاتی</strong>
        </th>
        <th>
          <strong> تعداد پرسنل </strong>
        </th>
        <th>
          <strong> مبلغ دستمزد(میلیون ریال) </strong>
        </th>
        <!-- <th>
          <strong> وضعیت </strong>
        </th> -->
        <th>
          <strong> عملیات</strong>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-personelNo let-rowIndex="rowIndex">
      <tr>
        <td pTooltip="{{ personelNo.companyName }}" tooltipEvent="hover" tooltipPosition="top">
          {{ personelNo.companyName }}
        </td>
        <td pTooltip="{{ personelNo.periodTitle }}" tooltipEvent="hover" tooltipPosition="top">
          {{ personelNo.periodTitle }}
        </td>
        <td pTooltip="{{ personelNo.periodDetailTitle }}" tooltipEvent="hover" tooltipPosition="top">
          {{ personelNo.periodDetailTitle }}
        </td>
        <!-- <td
          pTooltip="{{ personelNo.costCenterTitle }}"
          tooltipEvent="hover"
          tooltipPosition="top">
          {{ personelNo.costCenterTitle }}
        </td> -->

        <td pTooltip="{{ personelNo.personelCount }}" tooltipEvent="hover" tooltipPosition="top">
          {{ personelNo.personelCount }}
        </td>
        <td pTooltip="{{ personelNo.employeewageCU }}" tooltipEvent="hover" tooltipPosition="top">
          {{ personelNo.employeewageCU | number }}
        </td>

        <!-- <td
          pTooltip="{{ personelNo.statusTitle }}"
          tooltipEvent="hover"
          tooltipPosition="top">
          {{ personelNo.statusTitle }}
        </td> -->

        <td class="jc-left ai-left">
          <button class="action-image-container add-button" (click)="addNewItem(personelNo)" pTooltip="ثبت جزئیات">
            <img ngSrc="icons\Group 131.svg" width="24" height="24" />
          </button>
          <button class="action-image-container edit-button" (click)="editRow(personelNo)"
            pTooltip="ویرایش بودجه پرسنل">
            <img ngSrc="icons\Group 116.svg" width="24" height="24" />
          </button>

          <button class="action-image-container delete-button" (click)="deleteRow(personelNo)"
            pTooltip="حذف بودجه پرسنل">
            <img ngSrc="icons\Group 117.svg" width="24" height="24" />
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="data-list d-block d-lg-none">
  <ul *ngFor="let personelNo of data" class="list-group my-1">
    <!-- <li class="list-group-item">
      <div class="row">
        <div class="col my-1 text-center">
          <strong>کد</strong>
        </div>

        <div class="col my-1 text-center">
          {{ personelNo.periodCode }}
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col my-1 text-center">
          <strong>عنوان</strong>
        </div>

        <div class="col my-1 text-center">
          {{ personelNo.periodTitle }}
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col my-1 text-center">
          <strong>از تاریخ</strong>
        </div>

        <div class="col my-1 text-center">
          {{ personelNo.fromDate }}
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col my-1 text-center">
          <strong>تا تاریخ</strong>
        </div>

        <div class="col my-1 text-center">
          {{ personelNo.toDate }}
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col my-1 text-center">
          <strong>وضعیت</strong>
        </div>

        <div class="col my-1 text-center">
          {{ personelNo.statusTitle }}
        </div>
      </div>
    </li> -->

    <li class="list-group-item">
      <div class="row">
        <div class="col my-1 text-center">
          <strong>عملیات</strong>
        </div>

        <div class="col my-1 text-center">
          <div class="d-flex jc-center ai-center">
            <button class="action-image-container edit-button" (click)="editRow(personelNo)" title="ویرایش بودجه پرسنل">
              <img ngSrc="icons\Group 116.svg" width="24" height="24" />
            </button>

            <button class="action-image-container delete-button" (click)="deleteRow(personelNo)"
              title="حذف بودجه پرسنل">
              <img ngSrc="icons\Group 117.svg" width="24" height="24" />
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<p-dialog class="height-size" *ngIf="isOpenAddEditPersonelNo" [header]="modalTitle"
  [(visible)]="isOpenAddEditPersonelNo" [modal]="true" [draggable]="false" [resizable]="false"
  [style]="{ width: '700px' }">
  <app-add-edit-personel-no [data]="addEditData" (isSuccess)="reloadData()"
    (isCloseModal)="closeModal()"></app-add-edit-personel-no>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" [rtl]="true"></p-confirmDialog>