.graph-container {
  // height: 620px;
  // width: 83vw;
  overflow: auto;
  direction: ltr;
  scrollbar-width: thin;
  position: relative;
  top: -90px;
  left: -20px;
}

.steps-container{
  div{
    width: 130px;
    border-radius: 8px;
    padding: 19px 0 ;
    text-align: center;
    border-radius: 0px 50px 50px 0px;
    border: 2px solid #BBCCE5;
    &:nth-child(1){ background: #88DFD5 ; margin: 27px 0 72px 0;}
    &:nth-child(2){ background: #8CEFE4 ; margin: -18px 0 72px 0;}
    &:nth-child(3){ background: #CCE0FF ; margin: -17px 0 72px 0;}
    &:nth-child(4){ background: #97BEFF ; margin: -18px 0 72px 0;}
  }
}

.text-container {
  border: 1px solid #E2E8F0;
  border-radius: 7px;
  margin: 17px 3px 17px 20px;
  padding: 23px 17px 5px 3px;
}

.hover-rect{}