<p-toast key="projectIncome" position="bottom-left"></p-toast>

<form #formDir="ngForm" [formGroup]="addEditForm" (ngSubmit)="addEditProjectIncome()">
  <div class="container row">
    <div class="row mt-8 pb-3">
      <div class="col-4 my-2">
        <label for="periodId"> دوره بودجه</label>
        <p-dropdown id="periodId" name="periodId" formControlName="periodId" styleClass="w-100 my-1"
          optionLabel="periodTitle" optionValue="id" placeholder="انتخاب کنید" [options]="budgetPeriodList"
          (onChange)="onChangBudgetPeriod($event)" [filter]="true">
        </p-dropdown>
      </div>
      <div class="col-4 my-2">
        <label for="fromBudgetPeriodId"> دوره عملیاتی</label>
        <p-dropdown id="periodDetailId" name="periodDetailId" formControlName="periodDetailId" styleClass="w-100 my-1"
          optionLabel="periodDetailTitle" optionValue="id" [options]="OperationPeriodList" placeholder="انتخاب کنید"
          [filter]="true">
        </p-dropdown>
      </div>
      <div class="col-4 my-2" [ngClass]="{'readonly-field': true}">
        <label for="projectId">شناسه پروژه </label>
        <p-inputNumber id="projectId" name="projectId" formControlName="projectId" mode="decimal" [readonly]="true"
          inputId="withoutgrouping" [useGrouping]="false" class="w-100"></p-inputNumber>
      </div>

      <div class="col-4 my-2">
        <label for="unitId"> واحد</label>
        <p-dropdown id="unitId" name="unitId" formControlName="unitId" styleClass="w-100 my-1" optionLabel="title"
          optionValue="id" placeholder="انتخاب کنید" [options]="unitList" [filter]="true">
        </p-dropdown>
      </div>

      <!-- <div class="col-4 my-2">
        <label for="percentGrow">درصد پیشرفت فیزیکی</label>
        <p-inputNumber
          id="percentGrow"
          name="percentGrow"
          formControlName="percentGrow"
          mode="decimal"
          inputId="withoutgrouping"
          [useGrouping]="false"
          class="w-100"></p-inputNumber>
      </div> -->

      <!-- <div class="col-4 my-2">
        <label for="estimatePriceCu">برآورد هزینه</label>
        <p-inputNumber
          id="estimatePriceCu"
          name="estimatePriceCu"
          formControlName="estimatePriceCu"
          mode="decimal"
          inputId="withoutgrouping"
          [useGrouping]="false"
          class="w-100"></p-inputNumber>
      </div> -->

      <div class="col-4 my-2">
        <label for="sourceType"> منبع</label>
        <p-dropdown id="sourceType" name="sourceType" formControlName="sourceType" styleClass="w-100 my-1"
          optionLabel="title" optionValue="id" placeholder="انتخاب کنید" [options]="sourceTypeList" [filter]="true">
        </p-dropdown>
      </div>

      <div class="col-4 my-2">
        <label for="realPriceCu">هزینه فعلی(میلیون ریال)</label>
        <p-inputNumber id="realPriceCu" name="realPriceCu" formControlName="realPriceCu" mode="decimal"
          inputId="integeronly" class="w-100"></p-inputNumber>
      </div>

      <div></div>
      <!-- / دکمه -->
    </div>
    <div class="col-12 row-btn row-btn-fixed-bottom">
      <p-button class="pe-2 p-button-wide" styleClass="p-button-success" [label]="'ثبت'" type="submit"
        [loading]="isLoadingSubmit"></p-button>
    </div>
  </div>
</form>