<p-toast key="swot" position="bottom-left"></p-toast>
<form #formDir="ngForm" [formGroup]="addEditForm">
  <div class="container row">
    <div class="col-6 mt-2" *ngIf="false">
      <input [type]="'number'" pInputText id="strategyTypeCodeId" name="strategyTypeCodeId"
        formControlName="strategyTypeCodeId" class="w-100 my-1" />
    </div>
    <div class="col-6 mt-2" *ngIf="false">
      <input pInputText id="companyId" name="companyId" formControlName="companyId" class="w-100 my-1" />
    </div>
    <div class="col-8 mt-2" [ngClass]="{'readonly-field': true}">
      <label for="title"> عنوان </label>
      <input pInputText id="title" name="title" formControlName="title" class="w-100 my-1" [readonly]="true"
        [class.ng-invalid]="title?.invalid" [class.ng-dirty]="
          (addEditFormSubmitted && title?.pristine) ||
          title?.dirty ||
          title?.touched
        " />
    </div>

    <div class="col-3 mt-2" [ngClass]="{'readonly-field': true}">
      <label for="bigGoalId"> شناسه اهداف </label>
      <p-dropdown id="bigGoalId" name="bigGoalId" formControlName="bigGoalId" styleClass="w-100 my-1" [readonly]="true"
        optionLabel="title" optionValue="id" placeholder="انتخاب کنید" [options]="bigGoalList" [filter]="true"
        [class.ng-invalid]="title?.invalid" [class.ng-dirty]="
          (addEditFormSubmitted && title?.pristine) ||
          title?.dirty ||
          title?.touched
        ">
      </p-dropdown>
    </div>
    <div class="col-1 mt-2" [ngClass]="{'readonly-field': true}">
      <label for="strategyPriority"> الویت </label>
      <input pInputText type="number" id="strategyPriority" name="strategyPriority" formControlName="strategyPriority"
        maxlength="2" [min]="0" [max]="10" class="w-100 my-1" [readonly]="true"
        [class.ng-invalid]="strategyPriority?.invalid" [class.ng-dirty]="
        (addEditFormSubmitted && strategyPriority?.pristine) ||
        strategyPriority?.dirty ||
        strategyPriority?.touched
      " />
      <div *ngIf="strategyPriority?.errors">
        <span class="reqText"> عدد وارد شده باید مقدار 1 تا 10 باشد </span>
      </div>
    </div>

  </div>
</form>

<div class="container row list-ckeckbox ">
  <ng-container *ngFor="let list of swotList">
    <div class=" col-6">
      <p>{{list.title}}</p>
      <p-listbox class="w-100" [options]="list.swot" [(ngModel)]="selectedCheckbox" [metaKeySelection]="false"
        [checkbox]="true" [showToggleAll]="false" [multiple]="true" optionLabel="title" optionValue="id"
        [listStyle]="{'min-height':'250px' , 'height':'250px'}" [style]="{}">
      </p-listbox>
    </div>
  </ng-container>
</div>


<!-- <div class="col-12 row-btn row-btn-fixed-bottom">
  <p-button class="pe-2 p-button-wide" styleClass="p-button-success" [label]="'ثبت'" type="submit"
    [loading]="isLoadingSubmit" (onClick)="addEditPlan()"></p-button>
</div> -->