<h4 class="h4">پروفایل شرکت</h4>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="co-info-box">
      <h4>اطلاعات شرکت</h4>
      <div class="row inline-flx">
        <h5>نام شرکت :</h5>
        <span>{{ infoLst.companyName }}</span>
      </div>
      <div class="row inline-flx">
        <h5>مدیرعامل :</h5>
        <span>{{ infoLst.ceo }}</span>
      </div>
      <div class="row inline-flx">
        <h5>سرمایه اولیه :</h5>
        <span>{{ infoLst.registeredCapital }}</span>
      </div>
      <div class="row inline-flx">
        <h5>شماره ثبتی :</h5>
        <span>{{ infoLst.oldCode }}</span>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="co-info-box">
      <h4>سهامداران شرکت</h4>
      <div id="chart-wrapper">
        <canvas id="BarChart2" width="700" style="display: unset"></canvas>
      </div>
      <div class="row bar-chart2">
        <span>سهامداران خارج از شرکت</span>
        <div class="chart-legend out"></div>
        <span>سهامداران شرکتی</span>
        <div class="chart-legend in"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="co-info-box cost-benefit-box">
      <h4>سود و زیان</h4>
      <div class="row div1">
        <div class="div2">
          <i class="pi pi-arrow-up"></i>
        </div>
        <span class="cost">{{ benefitCost }} ریال</span>
        <div>
          <span>سود شرکت در سال گذشته</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
    <div class="co-info-box">
      <div class="row sub-co">
        <img ngSrc="icons\budget 1.svg" width="24" height="24" />
        <span>بودجه فروش</span>
      </div>
      <div class="row sub-co">
        <img ngSrc="icons\agent List.svg" width="24" height="24" />
        <span>نیروی انسانی</span>
      </div>
      <div class="row sub-co">
        <img ngSrc="icons\Regular.svg" width="24" height="24" />
        <span>منابع و مصارف</span>
      </div>
      <div class="row sub-co">
        <img
          ngSrc="icons\mag.svg"
          width="24"
          height="24"
          (click)="contractRoute()" />
        <span>قراردادها</span>
      </div>
    </div>
  </div>
</div>
<div class="row bar-chart2">
  <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="co-info-box">
      <h4>بودجه نقدی</h4>
      <span>نمودار به تفکیک ماه</span>
      <div class="chart-outside-box">
        <div id="chart-wrapper">
          <canvas id="BarChart" width="1000"></canvas>
        </div>
      </div> -->
  <!-- <div id="chart-wrapper" class="chart-box">
        <canvas id="BarChart"></canvas>
      </div> -->
  <!-- </div>
  </div> -->
</div>
<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 chart-outside-box">
    <div id="chart-wrapper">
      <canvas id="BarChart" width="700" style="display: unset"></canvas>
    </div>
  </div>
</div>
