.all-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(182, 194, 211, 0.35);
    padding: 5px;
}

.return {
    text-align: left;
    font-size: 13px;

    .pi-arrow-left {
        color: #3B82F6;
        position: relative;
        top: 2px;
        right: 7px;
    }

    a {
        text-decoration: none;
    }
}

.co-info-box {
    @extend .all-box;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;

    h4 {
        @extend .h4;
    }

    .inline-flx {
        padding: 10px 20px;

        h5 {
            font-size: 1rem;
            font-weight: 600;
        }

        span {
            font-size: 1rem;
            margin: 0;
        }

        &:nth-child(odd) {
            width: 60%;
        }

        &:nth-child(even) {
            width: 40%;
        }
    }

    .div-more-btn {
        display: block;
    }

    // .group-box {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-evenly;
    // }


    .person-box {
        margin: 0;
        border-radius: 10px;
        background: #FFFFFF;
        border-style: solid;
        border-color:  #EFF6FF;
        padding-bottom: 8px;
        margin-bottom: 16px;
        border-width: 2px;
        .item {
            padding: 10px 0 0px 0;
        }
    }
}

.h4 {
    font-size: 1.35rem;
    padding: 7px 9px;
    margin: 0;
}

.sub-co {
    background-color:#F1F5F9;


    border: 1px solid #F1F5F9;
    margin: 0 6px;
    font-size: 13px;
    padding: 5px 0px;
    border-radius: 7px;
    color:#000000;
    cursor: pointer;
    align-items: center;

    span {
        font-size: 1rem;
        padding-right: 2px;
    }

    &:hover {
        @extend .selected-sub-co;
    }

    span {
        width: auto;
    }

    i {
        width: auto;
        font-size: 16px;
        // color: #15803D;
        padding: 2px 3px 2px 3px;
    }


}

.selected-sub-co {
    background-color: #0AB39C;
    ;
    color:   #FFFFFF;
    ;

    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;
}

.chart-box {
    height: 280px !important;
    text-align: -webkit-center;
}

.chart-outside-box {
    padding: 0px 15px 0px 15px;
}

#chart-wrapper {
    background-color: white;
    height: fit-content;
}

.bar-chart2 {
    display: -webkit-inline-box;
    padding: 20px;
    -webkit-box-align: center;

    .in {
        background-color: #1B84FF;
    }

    .out {
        background-color: #17C653;
    }

    .chart-legend {
        width: 40px;
        height: 12px;
    }
}

.bottom-section {
    margin: 18px 0px;

    .co-info-box {
        padding: 10px 30px;

        h4 {
            padding: 10px 15px 0px;
        }

        span {
            margin-right: 13px;
        }

        .desc {
            font-size: 14px;
            padding: 10px;
            
            
        }
 
   
    }




    h3 {
        margin: 20px 30px;
    }

    
   
}

.headerStyleForm {
    display: flex;
    justify-content: space-between;
    margin-bottom: -12px;

    // .labelStyle{
    //     font-size: 14px;
    //     font-weight: bold;
    //     margin: 9px 0px 12px;
    //     color:  #94A3B8 !important;
    //     font : Shabnam;
    // }

}

.cost-benefit-box {
    text-align: center;

    h4 {
        text-align: right;
    }

    .div1 {
        display: -webkit-inline-box;
        -webkit-box-align: center;
        margin-right: 20px;

        .div2 {
            width: 50px;
            height: 50px;
            text-align: center;
            align-content: space-evenly;
            color: white;
            border-radius: 35px;

            i {
                font-size: 26px;
            }
        }

        .cost {
            font-size: 23px;
            font-weight: bold;
        }
    }

    .div3 {
        font-weight: bold;
        font-size: 13px;
        margin: 25px;
        text-align: right;
    }

    .div4 {
        text-align: right;
        margin: 0px 20px 15px 20px;
        font-size: 13px;

        .val {
            font-size: 15px;
            margin-right: 10px;
        }

        @extend .profitable-col;
        @extend .not-profitable-col;

        .pi-angle-up,
        .pi-angle-down {
            position: relative;
            top: 3px;
        }

        .ttl {
            color: black;
        }
    }
}

.profitable-col {
    color: #0AB39C;
}

.not-profitable-col {
    color: #E4002B;
}

.profitable-b-col {
    background-color: #0AB39C;
}

.not-profitable-b-col {
    background-color: #E4002B;
}

.row-feature {
    margin: 0px 30px 20px;

    div.box {
        display: inline-flex;
    }

    div.items {
        width: fit-content;
        background-color: #E2E8F0;
        color: #64748B;
        padding: 5px;
        border-radius: 7px;
        cursor: pointer;
        margin-left: 10px;

        span {
            margin: 13px;
        }
    }
}

.select-feature {
    background-color: #3B82F6 !important;
    color: white !important;
}

.deselect-feature {
    background-color: #E2E8F0 !important;
    color: #64748B !important;
}

.disable-btns {
    opacity: 40%;
}

.enable-btns {
    opacity: 100%;
}

::ng-deep .c-tbl,
::ng-deep .c-th,
::ng-deep .c-td {
    border: 1px solid black;
    border-collapse: collapse;
}

::ng-deep .c-tr {
    .c-td {
        padding: 10px;
        text-align: center;
        font-size: 13px;
    }

    .head {
        font-weight: bold;
        font-size: 15px;
    }
}


// child component style

::ng-deep .bottom-section {
    margin: 18px 0px;

    .co-info-box {
        padding: 10px 30px;

        h4 {
            padding: 10px 15px 0px;
        }

        span {
            // margin-right: 13px;
        }

        .desc {
            font-size: 14px;
            padding: 10px;
           
        }
    }

    h3 {
        margin: 12px 0px 12px;
        font-size: 1.5rem;
        font-weight: 700;
        color:#3B82F6;
    }
}

::ng-deep .row-feature {
    margin: 15px 0 20px;

    div.box {
        display: inline-flex;
    }

    div.items {
        width: fit-content;
        background-color: #E2E8F0;
        color: #64748B;
        padding: 5px;
        border-radius: 7px;
        cursor: pointer;
        margin-left: 10px;
        height: min-content;
        margin-bottom: 10px;

        span {
            margin: 13px;
        }
    }
}

::ng-deep .select-feature {
    background-color: #3B82F6 !important;
    color: white !important;
}

::ng-deep .deselect-feature {
    background-color: #E2E8F0 !important;
    color: #64748B !important;
}

::ng-deep .all-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(182, 194, 211, 0.35);
    padding: 5px;
}

::ng-deep .headerStyleForm {
    display: flex;
    justify-content: space-between;
    margin-bottom: -12px;

    .labelStyle{
        font-size: 14px;
        margin: 9px 0px 12px;
        color:  #94A3B8 !important;
        font : Shabnam;
        font-weight: 400px;
    }

    hr {
   width: 1098px;
   height: 3px;
   top: 836px;
   left: 39px;
   gap: 0px;
   opacity: 0px;
   background: #F1F5F9;
    }
    span{
        font-size: 14px;
        font-weight: bold;
        margin: 9px 0px 12px;
        color:  #94A3B8 !important;
        font : Shabnam;
        font-weight: 700px;
    }
}

::ng-deep .co-info-box {
    @extend .all-box;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;

    .h4 {
        font-size: 1.35rem;
        padding: 7px 9px;
        margin: 0;
    }

    h4 {
        @extend .h4;
    }

    .inline-flx {
        padding: 10px 20px;

        h5 {
            font-size: 1rem;
            font-weight: 600;
        }

        span {
            font-size: 1rem;
            margin: 0;
        }

        &:nth-child(odd) {
            width: 60%;
        }

        &:nth-child(even) {
            width: 40%;
        }
    }

    .div-more-btn {
        display: block;
    }

    .person-box {
        margin: 0 12px;
        border-radius: 15px;
        background: rgba(60, 81, 148, 0.14);
        // box-shadow: 0px 0px 6px 0px rgba(182, 194, 211, 0.25);
        padding-bottom: 10px;

        .item {
            padding: 10px 0 0px 0;
        }
    }
}