<h4 class="h4">
  پروفایل شرکت
  <span class="return float-end">
    <a routerLink="/TreeOrganization">بازگشت</a>
    <i class="pi pi-arrow-left"></i>
  </span>
</h4>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="co-info-box">
      <h5 class="m-3">اطلاعات شرکت</h5>
      <div class="row">
        <div class="inline-flx" style="align-self: center">
          <h5>نام شرکت :</h5>
          <span>{{ infoLst.companyName }}</span>
        </div>
        <div class="inline-flx">
          <img
            *ngIf="infoLst.partyLogo"
            ngSrc="{{ 'holding-logo/' + infoLst.partyLogo }}"
            width="55"
            height="55" />
        </div>
        <div class="inline-flx">
          <h5>مدیرعامل :</h5>
          <span>{{ infoLst.managerName }}</span>
        </div>
        <div class="inline-flx">
          <h5>شناسه ملی :</h5>
          <span>{{ infoLst.nationalID }}</span>
        </div>
        <div class="inline-flx">
          <h5>نوع شرکت :</h5>
          <span>{{ infoLst.companyTypeTitle }}</span>
        </div>
        <div class="inline-flx">
          <h5>تاریخ تاسیس :</h5>
          <span>{{ infoLst.registerDatePC }}</span>
        </div>
        <div class="inline-flx">
          <h5>صنعت :</h5>
          <span>{{ infoLst.reportingTypeTitle }}</span>
        </div>
        <div class="inline-flx">
          <h5>مالک :</h5>
          <span>{{ infoLst.companyParentName }}</span>
        </div>
        <div class="inline-flx">
          <h5>ماهیت :</h5>
          <span>{{ infoLst.activityTypeTitle }}</span>
        </div>
        <div class="inline-flx">
          <h5>سرمایه :</h5>
          <span>{{ infoLst.registeredCapital }}</span>
        </div>
        <div class="inline-flx">
          <h5>تعداد کارکنان :</h5>
          <span>{{ infoLst.countOfEmployee }}</span>
        </div>
        <div class="inline-flx div-more-btn">
          <p-button
            class="pe-2"
            styleClass="p-button-info"
            label="جزئیات بیشتر"
            (click)="onCoDetail(infoLst.id)"></p-button>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let list of allList">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="co-info-box cost-benefit-box">
        <h4>{{ list.groupTitle }}</h4>
        <div *ngFor="let group of list.groupedDetail" class="person-box">
          <div
            *ngFor="let box of group; index as i"
            class="item"
            (click)="onSelectBudget(box)">
            <div
              class="row sub-co"
              [class.selected-sub-co]="box.id === selectedBudgetId">
              <i class="{{ box.icon }}"></i>
              <span>{{ box.title }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div [ngSwitch]="switchItem">
  <ng-template [ngSwitchCase]="'BalanceSheet'">
    <PABudget-balance-sheet
      [inputData]="planInputData"></PABudget-balance-sheet>
  </ng-template>
  <ng-template [ngSwitchCase]="'CostAndBenefit'">
    <PABudget-cost-and-benefit
      [inputData]="planInputData"></PABudget-cost-and-benefit>
  </ng-template>
  <ng-template [ngSwitchCase]="'ResourcesAndExpenses'">
    <PABudget-budget-resource-use
      [inputData]="planInputData"></PABudget-budget-resource-use>
  </ng-template>
  <ng-template [ngSwitchCase]="'OwnershipValue'">
    <PABudget-owner-ship-value
      [inputData]="planInputData"></PABudget-owner-ship-value>
  </ng-template>
  <ng-template [ngSwitchCase]="'VisionAndMission'">
    <PABudget-vision-and-mission
      [inputData]="planInputData"></PABudget-vision-and-mission>
  </ng-template>

  <ng-template [ngSwitchCase]="'Value'">
    <PABudget-value [inputData]="planInputData"></PABudget-value>
  </ng-template>
  <ng-template [ngSwitchCase]="'AssemblyAssignments'">
    <PABudget-assembly-assignments-plan
      [inputData]="planInputData"></PABudget-assembly-assignments-plan>
  </ng-template>
  <ng-template [ngSwitchCase]="'Orientation'">
    <PABudget-orientation [inputData]="planInputData"></PABudget-orientation>
  </ng-template>
  <ng-template [ngSwitchCase]="'Goals'">
    <PABudget-goals [inputData]="planInputData"></PABudget-goals>
  </ng-template>
  <ng-template [ngSwitchCase]="'StrategyMap'">
    <PABudget-strategy-map [inputData]="planInputData"></PABudget-strategy-map>
  </ng-template>
  <ng-template [ngSwitchCase]="'Strategy'">
    <PABudget-strategy-plan
      [inputData]="planInputData"></PABudget-strategy-plan>
  </ng-template>
  <ng-template [ngSwitchCase]="'OperationalPlans'">
    <PABudget-operational-plans
      [inputData]="planInputData"></PABudget-operational-plans>
  </ng-template>
  <ng-template [ngSwitchCase]="'SWOT'">
    <PABudget-matrix-swot [inputData]="planInputData"></PABudget-matrix-swot>
  </ng-template>
  <ng-template [ngSwitchCase]="'Informations'">
    <PABudget-informations [inputData]="planInputData"></PABudget-informations>
  </ng-template>
  <ng-template [ngSwitchCase]="'Risk'">
    <PABudget-risk [inputData]="planInputData"></PABudget-risk>
  </ng-template>
  <ng-template [ngSwitchCase]="'StatementCashFlows'">
    <PABudget-statement-cash-flows
      [inputData]="planInputData"></PABudget-statement-cash-flows>
  </ng-template>
  <ng-template [ngSwitchCase]="'ReconciliationStatementOperating'">
    <PABudget-reconciliation-statement-operating
      [inputData]="planInputData"></PABudget-reconciliation-statement-operating>
  </ng-template>
  <ng-template [ngSwitchCase]="'ReceiveAndPay'">
    <PABudget-receive-and-pay
      [inputData]="planInputData"></PABudget-receive-and-pay>
  </ng-template>
  <ng-template [ngSwitchCase]="'ShareHolder'">
    <PABudget-shareholder [inputData]="planInputData"></PABudget-shareholder>
  </ng-template>
</div>

<!-- <div class="row bottom-section">
  <div class="co-info-box">
    <h3>{{ selectedProgramName }}</h3>
    <div class="row row-feature">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
        <div *ngIf="planDetailData?.hasYear" class="row">
          <app-select-date
            [selectType]="selectDateType"
            (selectedVal)="returnSelectedDate($event)"
            [tableYearSelected]="tableYearSelectedId"></app-select-date>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
        <div
          *ngIf="planDetailData?.hasTable"
          class="items"
          [class.select-feature]="!isShowChart"
          (click)="selectTable()">
          <span>جدول</span>
        </div>
        <div
          *ngIf="planDetailData?.hasDesc"
          class="items"
          [class.select-feature]="!isShowChart">
          <span>شرح</span>
        </div>
        <div
          class="items disable-btns"
          *ngIf="planDetailData?.hasTrend"
          [class.enable-btns]="selectedRows?.length > 0"
          [class.select-feature]="isShowChart"
          (click)="getChart()">
          <span>روند</span>
        </div>
        <div
          class="items disable-btns"
          *ngIf="planDetailData?.hasCompare"
          [class.enable-btns]="selectedRows?.length > 0">
          <span>مقایسه</span>
        </div>
        <div
          class="items disable-btns"
          *ngIf="planDetailData?.hasPercent"
          [class.enable-btns]="selectedRows?.length > 0">
          <span>سهم درصد</span>
        </div>
      </div>
    </div>

    <div class="row desc" *ngFor="let item of planDetailData?.datasDescs">
      <div [innerHTML]="item.desc"></div>
    </div>
    <div *ngIf="planDetailData?.hasCustomTable" class="row">
      <table class="c-tbl">
        <tr class="c-tr" *ngFor="let item1 of planDetailData?.planType">
          <td class="c-td head">{{ item1.planTypeName }}</td>
          <td
            class="c-td"
            *ngFor="let item2 of item1?.planTypeDetails"
            [ngStyle]="{ 'background-color': item2.color }">
            <div [innerHTML]="item2.desc | safeHtml"></div>
          </td>
        </tr>
      </table>
    </div>
    <div
      *ngIf="planDetailData?.hasTable && !isShowChart"
      class="table-container">
      <p-table
        [columns]="planDetailData.headers"
        [value]="planDetailData.budgetDetails"
        [(selection)]="selectedRows">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.headerName }}
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td>
              <p-tableCheckbox [value]="rowData.code" />
            </td>
            <td *ngFor="let col of columns">
              {{ rowData[col.field] }}
            </td>
            <td></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="isShowChart">
      <canvas
        id="LineChart"
        width="900"
        height="200"
        style="display: unset"></canvas>
    </div>
  </div>
</div> -->
