<p-toast key="mission" position="bottom-left"></p-toast>

<form #formDir="ngForm" [formGroup]="addEditForm" (ngSubmit)="addEditPlan()">
  <div class="container row">
    <div class="col-12 mt-2">
      <label for="planningId"> برنامه </label>
      <p-dropdown id="planningId" name="planningId" formControlName="planningId" styleClass="w-100 my-1"
        optionLabel="title" optionValue="id" placeholder="انتخاب کنید" [options]="planingList" [filter]="true"
        [readonly]="true" [class.ng-invalid]="planningId?.invalid" [class.ng-dirty]="
          (addEditFormSubmitted && planningId?.pristine) ||
          planningId?.dirty ||
          planningId?.touched
        ">
      </p-dropdown>
    </div>
    <div class="col-12 mt-2">
      <label for="typeCode"> نوع ماموریت </label>
      <p-dropdown id="typeCode" name="typeCode" formControlName="typeCode" styleClass="w-100 my-1" optionLabel="title"
        optionValue="id" placeholder="انتخاب کنید" [options]="KeyTypeList" [filter]="true">
      </p-dropdown>
    </div>
    <div class="col-12 mt-2">
      <label for="title"> متن ماموریت </label>
      <textarea pInputTextarea id="title" name="title" formControlName="title" class="w-100 my-1" rows="3" cols="10"
        [class.ng-invalid]="title?.invalid" [class.ng-dirty]="
          (addEditFormSubmitted && title?.pristine) ||
          title?.dirty ||
          title?.touched
        "></textarea>
    </div>
    <div class="col-12 row-btn row-btn-fixed-bottom">
      <p-button class="pe-2 p-button-wide" styleClass="p-button-success" [label]="'ثبت'" type="submit"
        [loading]="isLoadingSubmit"></p-button>
    </div>
  </div>
</form>