<!-- pop up messages -->
<p-toast key="subjectDefinition" position="bottom-left"></p-toast>

<!-- data table -->
<section class="section">
  <div class="pb-2">
    <div class="table-header">لیست شرکت ها</div>
    <div class="d-flex justify-content-between pb-3 w-100">
      <!-- / نام شرکت -->
      <div class="col-4">
        <label for="companyName"> &nbsp; </label>
        <p-dropdown
          id="companyName"
          class="col"
          styleClass="w-100"
          optionLabel="companyName"
          [options]="subCompanies"
          placeholder="انتخاب کنید"
          [(ngModel)]="selectedCompany"
          (onChange)="onCompanySelected($event)">
        </p-dropdown>
      </div>
      <!-- دکمه -->
      <p-button
        class="pe-2 mt-4"
        styleClass="p-button-info"
        icon="pi pi-plus-circle"
        label="افزودن شرکت جدید"
        (click)="addCompany(selectedCompany)"></p-button>
      <!-- / دکمه -->
    </div>
    <!-- </p-panel> -->
  </div>

  <!-- data table -->
  <div class="table-container">
    <p-table
      #dataTable
      dataKey="id"
      class="data-table d-none d-lg-block"
      [styleClass]="gridClass"
      [rowHover]="true"
      [paginator]="true"
      [rows]="dataTableRows"
      [rowsPerPageOptions]="[10, 20, 30]"
      [totalRecords]="totalCount"
      [value]="data"
      [loading]="loading"
      [tableStyle]="{ 'min-width': '75rem' }"
      [lazy]="true"
      [(first)]="dataTableFirst">
      <!-- table header -->
      <ng-template pTemplate="header">
        <tr class="data-table__header">
          <th>
            <strong>نام شرکت</strong>
          </th>
          <th>
            <strong>نام مدیر عامل</strong>
          </th>
          <th>
            <strong>شناسه ملی شرکت</strong>
          </th>
          <th>
            <strong> عملیات </strong>
          </th>
        </tr>
      </ng-template>
      <!-- / table header -->
      <!-- table body -->
      <ng-template pTemplate="body" let-company let-rowIndex="rowIndex">
        <tr>
          <td>{{ company.companyName }}</td>
          <td>{{ company.companyType }}</td>
          <td>{{ company.nationalID }}</td>

          <!-- actions -->
          <td class="jc-left ai-left">
            <!-- edit -->
            <button
              class="action-image-container"
              pTooltip="ویرایش دوره"
              (click)="editRow(company)">
              <img ngSrc="icons\Group 116.svg" width="24" height="24" />
            </button>
            <!-- / edit -->

            <!-- insert -->
            <button
              class="action-image-container"
              pTooltip="افزودن شرکت"
              (click)="addCompany(company)">
              <img ngSrc="icons\Group 187.svg" width="24" height="24" />
            </button>
            <!-- / insert -->

            <!-- delete -->
            <button
              class="action-image-container"
              pTooltip="حذف شرکت"
              (click)="deleteRow(company)">
              <img ngSrc="icons\Group 117.svg" width="24" height="24" />
            </button>
            <!-- / delete -->

            <!-- select Board of Managments -->
            <button
              class="action-image-container"
              pTooltip="لیست هیئت مدیره"
              (click)="personscompany(company)">
              <img ngSrc="icons\Group 118.svg" width="24" height="24" />
            </button>
            <!-- select Board of Managments -->

            <!-- select auditor -->
            <button
              class="action-image-container"
              pTooltip="لیست بازرس ها"
              (click)="selectAuditors(company)">
              <img ngSrc="icons\Group 119.svg" width="24" height="24" />
            </button>
            <!-- select auditor -->
          </td>
          <!-- actions -->
        </tr>
      </ng-template>
      <!-- / table body -->
    </p-table>
  </div>

  <!-- data table -->

  <!-- data list -->
  <div class="data-list d-block d-lg-none">
    <ul *ngFor="let company of data" class="list-group my-1">
      <!-- نام شرکت -->
      <li class="list-group-item">
        <div class="row">
          <div class="col my-1 text-center">
            <strong>نام شرکت</strong>
          </div>

          <div class="col my-1 text-center">
            <!-- {{ company.companyName }} -->
          </div>
        </div>
      </li>
      <!-- / نام شرکت -->

      <!-- کد صنعت (ISIC) -->
      <li class="list-group-item">
        <div class="row">
          <div class="col my-1 text-center">
            <strong>کد صنعت (ISIC)</strong>
          </div>

          <div class="col my-1 text-center">
            <!-- {{ company.isic || '' | faNum }} -->
          </div>
        </div>
      </li>
      <!-- / کد صنعت (ISIC) -->

      <!-- عملیات -->
      <li class="list-group-item">
        <div class="row">
          <div class="col my-1 text-center">
            <strong>عملیات</strong>
          </div>

          <div class="col my-1 text-center">
            <div class="d-flex jc-center ai-center">
              <!-- edit -->
              <p-button
                pRipple
                styleClass="p-button-text p-button-warning"
                type="button"
                icon="pi pi-pencil"
                (click)="editRow(company)">
              </p-button>
              <!-- / edit -->

              <!-- delete -->
              <p-button
                pRipple
                styleClass="p-button-text p-button-danger"
                type="button"
                icon="pi pi-times"
                (click)="deleteRow(company)">
              </p-button>
              <!-- / delete -->
            </div>
          </div>
        </div>
      </li>
      <!-- / عملیات -->
    </ul>
  </div>
  <!-- / data list -->
  <!-- </div>
  </div> -->
</section>
<!-- / data table -->

<p-confirmDialog [style]="{ width: '450px' }" [rtl]="true"></p-confirmDialog>
