<!-- pop up messages -->
<p-toast key="companyDefinition" position="bottom-left"></p-toast>

<!-- data table -->
<section class="section">
  <!-- <div class="card">
    <div class="card-body"> -->
  <div class="card-text pt-3"></div>

  <div class="pb-2">
    <form #formDir="ngForm" [formGroup]="searchCompanyForm" (ngSubmit)="getCompanyList()">
      <div class="form-group container">
        <div class="row row-cols-lg-4 row-cols-1">
          <!-- نام شرکت -->
          <div class="col my-1">
            <label for="companyName">نام شرکت</label>
            <p-dropdown id="subjects" class="col" styleClass="w-100" optionLabel="title" [options]="companyList"
              placeholder="انتخاب کنید" formControlName="companyName" (onChange)="getDataList($event)">
            </p-dropdown>
          </div>
          <!-- / نام شرکت -->
        </div>
      </div>
    </form>
    <!-- </p-panel> -->
  </div>
  <!-- / جستجو -->

  <!-- data table -->
  <div class="table-container">
    <div class="d-flex justify-content-between pt-3 pb-3 w-100">
      <!-- table title -->
      <div class="table-header">لیست شرکت ها </div>
      <!-- table title -->
      <!-- دکمه -->
      <p-button class="pe-2" styleClass="p-button-success" icon="pi pi-plus" label="افزودن سازمان"
        (click)="onOpenAddCompany()"></p-button>
      <!-- / دکمه -->
    </div>
    <p-table #dataTable dataKey="id" class="data-table d-none d-lg-block" [styleClass]="gridClass" [rowHover]="true"
      [paginator]="true" [rows]="dataTableRows" [rowsPerPageOptions]="[10, 20, 30]" [totalRecords]="totalCount"
      [value]="companyList" [loading]="loading" [tableStyle]="{ 'min-width': '75rem' }" [lazy]="true"
      (onLazyLoad)="getDataList($event)" [(first)]="dataTableFirst">

      <!-- table header -->
      <ng-template pTemplate="header">


        <tr class="data-table__header">
          <th>
            <strong>نام شرکت</strong>
          </th>
          <th>
            <strong>نام مدیر عامل</strong>
          </th>
          <th>
            <strong>شناسه ملی شرکت</strong>
          </th>
          <th>
            <strong> عملیات </strong>
          </th>
        </tr>
      </ng-template>
      <!-- / table header -->
      <!-- table body -->
      <ng-template pTemplate="body" let-company let-rowIndex="rowIndex">
        <tr>
          <!-- <td>{{ company.companyName }}</td> -->
          <td>هلدینگ سامانه فرهنگیان</td>
          <td>سعید ساجدی نیا </td>
          <td>101015487896 </td>
          <!-- actions -->
          <td class=" jc-left ai-left">
            <!-- edit -->
            <p-button pRipple class="pe-2" styleClass="p-button-text p-button-warning p-button-rounded" type="button"
              icon="pi pi-pencil" (click)="editRow(company)">
            </p-button>
            <!-- / edit -->

            <!-- delete -->
            <p-button pRipple class="pe-2" styleClass="p-button-text p-button-danger p-button-rounded" type="button"
              icon="pi pi-times" (click)="deleteRow(company)">
            </p-button>
            <!-- / delete -->

            <!-- select Board of Managments -->
            <p-button pRipple class="pe-2" styleClass="p-button-text p-button-danger p-button-rounded" type="button"
              icon="pi pi-times" (click)="selectBoardOfManagments(company)">
            </p-button>
            <!-- select Board of Managments -->

            <!-- select auditor -->
            <p-button pRipple class="pe-2" styleClass="p-button-text p-button-danger p-button-rounded" type="button"
              icon="pi pi-times" (click)="selectAuditors(company)">
            </p-button>
            <!-- select auditor -->


          </td>
          <!-- actions -->
        </tr>
      </ng-template>
      <!-- / table body -->
    </p-table>
  </div>

  <!-- data table -->

  <!-- data list -->
  <div class="data-list d-block d-lg-none">
    <ul *ngFor="let company of companyList" class="list-group my-1">
      <!-- نام شرکت -->
      <li class="list-group-item">
        <div class="row">
          <div class="col my-1 text-center">
            <strong>نام شرکت</strong>
          </div>

          <div class="col my-1 text-center">
            {{ company.companyName }}
          </div>
        </div>
      </li>
      <!-- / نام شرکت -->

      <!-- کد صنعت (ISIC) -->
      <li class="list-group-item">
        <div class="row">
          <div class="col my-1 text-center">
            <strong>کد صنعت (ISIC)</strong>
          </div>

          <div class="col my-1 text-center">
            {{ company.isic || '' | faNum }}
          </div>
        </div>
      </li>
      <!-- / کد صنعت (ISIC) -->

      <!-- عملیات -->
      <li class="list-group-item">
        <div class="row">
          <div class="col my-1 text-center">
            <strong>عملیات</strong>
          </div>

          <div class="col my-1 text-center">
            <div class="d-flex jc-center ai-center">
              <!-- edit -->
              <p-button pRipple styleClass="p-button-text p-button-warning" type="button" icon="pi pi-pencil"
                (click)="editRow(company)">
              </p-button>
              <!-- / edit -->

              <!-- delete -->
              <p-button pRipple styleClass="p-button-text p-button-danger" type="button" icon="pi pi-times"
                (click)="deleteRow(company)">
              </p-button>
              <!-- / delete -->
            </div>
          </div>
        </div>
      </li>
      <!-- / عملیات -->
    </ul>
  </div>
  <!-- / data list -->
  <!-- </div>
  </div> -->
</section>
<!-- / data table -->

<!-- preview report detail -->
<p-dialog styleClass="p-fluid" header="جزئیات" [style]="{ width: '800px', height: '640px' }" [modal]="true"
  [(visible)]="previewDetailsDialog">
  <!-- dialog content -->
  <ng-template pTemplate="content">
    <div class="data-table-detail__content-info">
      <!-- data list -->
      <div class="data-list">
        <ul class="list-group">
          <!-- نام شرکت -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>نام شرکت</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.companyName }}
              </div>
            </div>
          </li>
          <!-- / نام شرکت -->

          <!-- نماد -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>نماد</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.symbol | faNum }}
              </div>
            </div>
          </li>
          <!-- / نماد -->

          <!-- سرمایه ثبت شده -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>سرمایه ثبت شده</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.registeredCapital | irCurrency | faNum }}
              </div>
            </div>
          </li>
          <!-- / سرمایه ثبت شده -->

          <!-- سرمایه ثبت نشده -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>سرمایه ثبت نشده</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.nonRegisteredCapital | irCurrency | faNum }}
              </div>
            </div>
          </li>
          <!-- / سرمایه ثبت نشده -->

          <!-- ISIC -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>ISIC</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.isic || '' | faNum }}
              </div>
            </div>
          </li>
          <!-- / ISIC -->

          <!-- ISIN -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>ISIN</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.companyISIN }}
              </div>
            </div>
          </li>
          <!-- / ISIN -->

          <!-- شناسه ملی -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>شناسه ملی</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.nationalID || '' | faNum }}
              </div>
            </div>
          </li>
          <!-- / شناسه ملی -->



          <!--	پایان سال مالی -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>پایان سال مالی</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.periodType | jDate | faNum }}
              </div>
            </div>
          </li>
          <!-- / پایان سال مالی -->

          <!-- ماهیت -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>ماهیت</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.reportingType }}
              </div>
            </div>
          </li>
          <!-- / ماهیت -->

          <!-- موضوع فعالیت -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>موضوع فعالیت</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.activitySubject }}
              </div>
            </div>
          </li>
          <!-- / موضوع فعالیت -->

          <!-- آدرس کارخانه -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>آدرس کارخانه</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.factoryAddress }}
              </div>
            </div>
          </li>
          <!-- / آدرس کارخانه -->

          <!-- تلفن کارخانه (کد) -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>تلفن کارخانه (کد)</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.factoryTelephone || '' | faNum }}
              </div>
            </div>
          </li>
          <!-- / تلفن کارخانه (کد) -->

          <!-- نمابر کارخانه (کد) -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>نمابر کارخانه (کد)</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.factoryFax || '' | faNum }}
              </div>
            </div>
          </li>
          <!-- / نمابر کارخانه (کد) -->

          <!-- آدرس امور سهام  -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>آدرس امور سهام </strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.stockAffairsOffice }}
              </div>
            </div>
          </li>
          <!-- / آدرس امور سهام -->

          <!-- تلفن امور سهام (کد) -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-3 my-1">
                <strong>تلفن امور سهام (کد)</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.stockAffairsTelephone || '' | faNum }}
              </div>
            </div>
          </li>
          <!-- / تلفن امور سهام (کد) -->

          <!-- نمابر امور سهام (کد) -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-3 my-1">
                <strong>نمابر امور سهام (کد)</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.stockAffairsFax || '' | faNum }}
              </div>
            </div>
          </li>
          <!-- / نمابر امور سهام (کد) -->

          <!-- آدرس دفتر مرکزی -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>آدرس دفتر مرکزی</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.centeralOffice }}
              </div>
            </div>
          </li>
          <!-- / آدرس دفتر مرکزی -->

          <!-- تلفن دفتر مرکزی (کد) -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-3 my-1">
                <strong>تلفن دفتر مرکزی (کد)</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.centeralOfficeTelephone || '' | faNum }}
              </div>
            </div>
          </li>
          <!-- / تلفن دفتر مرکزی (کد) -->

          <!-- نمابر دفتر مرکزی (کد) -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-3 my-1">
                <strong>نمابر دفتر مرکزی (کد)</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.centeralOfficeFax || '' | faNum }}
              </div>
            </div>
          </li>
          <!-- / نمابر دفتر مرکزی (کد) -->

          <!-- مدیر عامل -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>مدیر عامل</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.managingDirector }}
              </div>
            </div>
          </li>
          <!-- / مدیر عامل -->

          <!-- مدیر مالی -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-2 my-1">
                <strong>مدیر مالی</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.financialManager }}
              </div>
            </div>
          </li>
          <!-- / مدیر مالی -->

          <!-- اعضای هیات مدیره -->
          <li class="list-group-item">
            <div class="row">
              <div class="col-3 my-1">
                <strong>اعضای هیات مدیره</strong>
              </div>

              <div class="col my-1 text-center">
                {{ selectedCompany.boardofDirectors }}
              </div>
            </div>
          </li>
          <!-- / اعضای هیات مدیره -->
        </ul>
      </div>
      <!-- / data list -->
    </div>
  </ng-template>
  <!-- / dialog content -->
</p-dialog>
<!-- / preview report detail -->

<p-confirmDialog [style]="{ width: '450px' }" [rtl]="true"></p-confirmDialog>

<p-dialog [header]="
    editCompanyData && editCompanyData.id
      ? 'ویرایش ' + editCompanyData.companyName
      : 'افزودن سازمان جدید'
  " [(visible)]="isOpenAddCompany" [modal]="true" [draggable]="false" [resizable]="false" [style]="{ width: '700px' }">
  <app-add-edit-company (closeModal)="onCloseModal()" [data]="editCompanyData"></app-add-edit-company>
</p-dialog>