/*--------------------------------------------------------------
# Override some default PrimeNG stylings
--------------------------------------------------------------*/
/* overall */
.p-component {
  font-family: Shabnam !important;
}

/* badge */

.p-button-success {
  border-radius: 5px;
  background: #0AB39C !important;
  width: 140px;
  height: var(--Sizes-40, 40px);
  flex-shrink: 0;
}

.p-button-warning {
  border-radius: 5px;
  background: #F1F5F9 !important;
  border-color: #F1F5F9 !important;
  width: 120px;
  height: var(--Sizes-40, 40px);

  flex-shrink: 0;
}

.p-button {

  .p-button-icon-left {
    margin-right: 0 !important;
    margin-left: 7px;

  }

  .p-button-icon-right {
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
  }

  .p-badge {
    margin-right: 0.5rem;
  }
}

.p-badge {
  font-size: 1rem !important;
  min-width: 1.5rem !important;
  height: 1.5rem !important;
  line-height: 1.75rem !important;
}

/* message */
.p-message {
  .p-message-wrapper {
    flex-direction: row-reverse;
  }

  &.p-message-success,
  &.p-message-info,
  &.p-message-warn,
  &.p-message-error,
  &.p-message-custom {
    font-weight: 100;
    border-width: 0 6px 0 0 !important;

    .p-message-icon {
      margin-right: 0;
      margin-left: 0.5rem;
      -webkit-box-ordinal-group: 4;
      -moz-box-ordinal-group: 4;
      -ms-flex-order: 4;
      -webkit-order: 4;
      order: 4;
    }

    .p-message-summary {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
    }

    .p-message-detail {
      font-weight: 300;
      -webkit-box-ordinal-group: 3;
      -moz-box-ordinal-group: 3;
      -ms-flex-order: 3;
      -webkit-order: 3;
      order: 3;
    }

    .p-message-close {
      margin-right: auto;
      margin-left: unset;
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
    }
  }
}

.p-inline-message {
  .p-inline-message-icon {
    margin-right: 0;
    margin-left: 0.5rem;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .p-inline-message-text {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
}

/* inputgroup */
.p-inputgroup-addon {
  border-right: 1px solid #ced4da;
  border-left: 0 solid #ced4da;
}

.p-inputgroup-addon:first-child {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.p-inputgroup input:last-child {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* inputtext*/
.p-inputtext {
  text-align: start !important;
  color: #ABABAB;
  text-align: right;
  font-family: Shabnam !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}

.p-fluid {
  font-family: Shabnam !important;
  font-weight: 620 !important;

}

/* accordion */
.p-accordion {
  .p-accordion-content {
    text-align: justify;
    text-justify: inter-word;
  }

  .p-accordion-toggle-icon {
    margin-right: 0rem;
    margin-left: 0.5rem;
    transition: var(--main-transition);
  }
}


/* dialog */
.p-dialog {
  background-color: #ffff;
  border-radius: 15px !important;
  background: #ffffff !important;
  box-shadow: 0px 0px 6px 0px rgba(182, 194, 211, 0.25) !important;
  // width: min-content !important;
  height: auto !important;
  // max-width: 600px;
  padding-left: 0px !important;
  padding-right: 12px !important;


  .p-dialog-footer {
    text-align: left !important;
    border-radius: 15px !important;
  }

  .p-dialog-header {
    border-radius: 15px;
  }

  .p-dialog-content {
    background: center;
  }

}

.p-confirm-dialog {
  max-width: none !important;
  border-radius: 15px !important;
}

/* tabview */
.p-tabview {
  .p-tabview-nav-link {
    .p-tabview-title {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
    }

    .p-tabview-close {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
    }
  }
}

/* datatable */
.p-datatable {
  .p-datatable-wrapper {
    scrollbar-width: thin;
    scrollbar-color: #8b8b8b transparent;

    &::-webkit-scrollbar {
      height: 7px;
      width: 7px;
      background-color: var(--main-color);
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: var(--main-color);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: var(--main-item-color);
    }
  }

  .p-datatable-thead {
    .p-sortable-column {
      div {
        display: flex !important;
      }

      p-sorticon {
        flex-grow: 1;
      }
    }
  }

  .p-datatable-thead,
  .p-datatable-tbody {
    tr {

      th,
      td {
        text-align: center !important;
      }
    }
  }

  .p-paginator-bottom {

    .p-paginator-first,
    .p-paginator-prev,
    .p-paginator-next,
    .p-paginator-last {
      transform: rotate(180deg);
    }

    .p-dropdown-label {
      padding-right: 1rem !important;
    }
  }
}

/* calendar */
.p-calendar-w-btn {
  .p-datepicker-trigger {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .p-inputtext {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

.p-calendar {
  .p-datepicker {

    .p-datepicker-next,
    .p-datepicker-prev {
      transform: rotate(180deg);
    }

    &.p-datepicker-multiple-month {
      .p-datepicker-group:first-child {
        padding-left: 0;
        border-left: 1px solid #dee2e6 !important;
      }

      .p-datepicker-group {
        border-left: 0px solid #dee2e6;
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
      }

      .p-datepicker-group:last-child {
        padding-right: 0;
        border-right: 1px solid #dee2e6 !important;
      }
    }

    .p-datepicker-header {
      padding: 0px !important;
      height: 30px;
    }

    table {
      td {
        padding: 0px !important;
      }
    }
  }
}

/* dropdown */
.p-dropdown {
  .p-dropdown-label.p-placeholder {
    color: #ABABAB;
    text-align: right;
    font-family: Shabnam !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
  }

  .p-inputtext {
    text-align: start !important;
    color: #ABABAB !important;
    text-align: right !important;
    font-family: Shabnam !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
  }

  .p-dropdown-panel {
    scrollbar-width: thin;
    scrollbar-color: #8b8b8b transparent;

    .p-dropdown-header {
      .p-dropdown-filter {
        padding-left: 2rem;
        padding-right: 0.5rem !important;
        margin-right: 0 !important;
      }

      .p-dropdown-filter-icon {
        left: 0.75rem !important;
        right: unset !important;
        color: #6c757d;
      }
    }

    .p-dropdown-items {
      text-align: start;
    }
  }

  &.p-dropdown-clearable .p-dropdown-label {
    padding-left: 1.75rem;
    padding-right: 0.75rem !important;
  }

  .p-dropdown-clear-icon {
    width: 100%;
    left: 2.357rem !important;
    right: unset !important;
    text-align: end;
  }
}

/* breadcrumb */
.p-breadcrumb {
  ul li.p-breadcrumb-chevron {
    margin: 0 0.5rem 0 0.5rem;
    color: #495057;
    transform: rotate(180deg) !important;
  }
}

/* toast message */
.p-toast {
  .p-toast-message {
    font-weight: 100;
    border-width: 0 6px 0 0 !important;

    .p-toast-message-content {
      flex-direction: row-reverse;

      .p-toast-message-icon {
        margin-right: 0;
        margin-left: 0.5rem;
        -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 4;
        -webkit-order: 4;
        order: 4;
      }

      .p-toast-message-text {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;

        .p-toast-detail {
          font-weight: 300;
        }
      }

      .p-toast-icon-close {
        margin-right: auto;
        margin-left: unset;
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        cursor: pointer;
      }
    }
  }
}

/* buttonset */
.p-buttonset {
  .p-button:first-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
  }

  .p-button:last-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
  }
}

/* confirm dialog */
.p-confirm-dialog {
  .p-dialog-content {
    .p-confirm-dialog-icon {
      margin-left: 8px;
      font-size: 1.4rem !important;
    }
  }
}

/* tree */
.p-tree {
  .p-tree-wrapper {
    .p-tree-container {
      .p-treenode {
        padding-top: 0.8rem !important;

        .p-treenode:first-child {
          padding-top: 0.8rem !important;
        }

        .p-treenode-content {
          .p-tree-toggler {
            margin-right: 0 !important;
            margin-left: 0.5rem;

            .pi-chevron-right {
              transform: rotate(180deg);
            }
          }

          .p-checkbox,
          .p-treenode-icon {
            margin-right: 0 !important;
            margin-left: 0.5rem;
          }


          .p-treenode-label {
            padding-top: 0.3rem;
          }
        }

        .p-treenode-children {
          padding: 0 1rem 0 0rem;
        }
      }
    }
  }
}

p-treeselect.p-treeselect-clearable .p-treeselect-clear-icon {
  right: 0.5rem !important;
}

:host ::ng-deep .p-organizationchart {
  .p-custom-organizationChart {
    padding: 0;
    border: 0 none;
  }

  .node-header,
  .node-content {
    padding: .5em .7rem;
  }

  .node-header {
    background-color: #495ebb;
    color: #ffffff;
  }

  .node-content {
    text-align: center;
    border: 1px solid #495ebb;
  }

  .node-content img {
    border-radius: 50%;
  }

  .department-cfo {
    background-color: #7247bc;
    color: #ffffff;
  }

  .department-coo {
    background-color: #a534b6;
    color: #ffffff;
  }

  .department-cto {
    background-color: #e9286f;
    color: #ffffff;
  }
}

.w-100.my-1.p-dropdown.p-component.p-dropdown-clearable {
  margin: 0px !important;
}

.p-datatable.p-datatable-sm .p-datatable-tbody>tr>td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.p-datatable .p-datatable-tbody > tr > td {
  // border-width : 0px 0px 0px 1px #e9ecef !important;
  border : 0px 0px    #e9ecef !important;
}

.p-panel .p-panel-icons-start {
  margin-left: 7px;
}

.p-organizationchart .p-organizationchart-line-left {
  border-left: 1px solid #dee2e6;
  border-color: #dee2e6;
  border-right: unset;
}

p-organizationchart-nodes:host ::ng-deep .p-organizationchart-nodes {
  position: fixed;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  font-family: Shabnam;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Card */
.card {
  margin-top: 17px;
  margin-bottom: 30px;
  // border-radius: 20px !important;
  box-shadow: var(--main-card-shadow);
  // background-color: var(--main-card-background) !important;
  color: var(--sidemenu-main-color) !important;
  border-color: var(--main-card-border-color) !important;

  .card-header,
  .card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
  }

  .card-body {
    padding: 0 20px 20px 20px;

    .card-title {
      padding: 20px 0 13px 0 !important;
      color: var(--main-item-color);
      border-bottom: 1px solid var(--bs-gray-200);
      font-weight: 500;
    }

    .card-text {
      padding-top: 0.5rem;
      color: var(--main-card-color);
    }
  }

  .card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.p-menu .p-menuitem-link {
  .p-menuitem-icon {
    margin-right: unset;
  }

  .p-menuitem-text {
    margin-right: 9px;
  }
}