 /*--------------------------------------------------------------
# button
--------------------------------------------------------------*/


 .button-primary {
   background: #3B82F6;
   color: #fff;
   border: none;
   border-radius: 5px;
   padding: 4px 22px;
   height: 30px;
 }

 .action-image-container {
   border: none;
   background-color: unset;

   img {
     width: 29px;
     height: 34px;
   }
 }


 /*--------------------------------------------------------------
# table
--------------------------------------------------------------*/
 .table-container {
   background: #fff;
   padding: 13px 20px 11px;
   height: 100%;
   width: auto;
   border-radius: 15px;
   margin-bottom: 15px;
   

   .p-datatable {
     .p-datatable-thead>tr>th {
       background: unset;
       text-align: right !important;

       &:last-child {
         text-align: center !important;
       }
     }

     .p-datatable-tbody>tr>td {
       text-align: right !important;

       &:last-child {
         text-align: left !important;

       }
     }
   }
 }

 .table-header {
   padding: 0 0 11px;
   font-size: 15px;
   font-weight: 600;
 }

 .tree-header {
   padding: 0 0 11px;
   font-size: 13px;
   font-weight: 600;
 }

 .search-button {
   display: flex;

   .clear-search {
     background: #0289d1bb;
     color: #fff;
     height: 32px;
     margin-left: 2px;
     border-radius: 4px;
     padding: 7px 8px;
     cursor: pointer;

     i {
       font-size: 0.8rem;
     }
   }
 }

 label {
   height: 24px;
   align-self: stretch;
   color: #000;
   text-align: right;
   font-family: Shabnam;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;

   line-height: normal;
 }

 .w-100.my-1.p-dropdown.p-component.p-dropdown-clearable {
   margin: 0px !important;
 }

 .p-confirmDialog {
   max-width: fit-content !important;
 }

 

.p-button-info {
  background-color:#3B82F6 !important ;
}