.data-table__header {
    width: 100%;
    display: flex;
}

.headerStyle {
    &:last-child {
        margin-left: 0px;
    }

    background-color:  #0AB39C;
    color: #ffffff;
    height: 38px;
    border-radius: 8px;
    padding-top: 8px;
    display: inline-block;
    margin-left: 7px;
    // width: inherit;
    text-align: -webkit-center;
}

.detailStyle {

    padding: 8px;
    margin: 5px 0;
    display: flex;
    // width: inherit;
    border-radius: 8px;

}


tr:nth-child(even) {
    background-color: #EEF2FF;
}