<form #formDir="ngForm" [formGroup]="addEditPeriodForm" (ngSubmit)="addEditPeriod()">
  <div class="container row">
    <div class=" ">
      <label for="code">کد</label>
      <input pInputText id="code" name="code" formControlName="code" type="text" class="w-100"
        [class.ng-invalid]="code?.invalid" [class.ng-dirty]="
          (addEditPeriodSubmitted && code?.pristine) ||
          code?.dirty ||
          code?.touched
        " [value]="code?.value | faNum" />
    </div>
    <div class=" ">
      <label for="title">عنوان</label>
      <input pInputText id="title" name="title" formControlName="title" type="text" class="w-100"
        [class.ng-invalid]="title?.invalid" [class.ng-dirty]="
          (addEditPeriodSubmitted && title?.pristine) ||
          title?.dirty ||
          title?.touched
        " [value]="title?.value | faNum" />
    </div>
    <div class=" ">
      <label for="fromDate">از تاریخ</label>
      <p-persian-calendar id="fromDate" name="fromDate" formControlName="fromDate" styleClass="w-100 "
        [class.ng-invalid]="fromDate?.invalid" [class.ng-dirty]="
          (addEditPeriodSubmitted && fromDate?.pristine) ||
          fromDate?.dirty ||
          fromDate?.touched
        ">
      </p-persian-calendar>
    </div>
    <div class=" ">
      <label for="toDate">تا تاریخ</label>
      <p-persian-calendar id="toDate" name="toDate" formControlName="toDate" styleClass="w-100 "
        [class.ng-invalid]="toDate?.invalid" [class.ng-dirty]="
          (addEditPeriodSubmitted && toDate?.pristine) ||
          toDate?.dirty ||
          toDate?.touched
        ">
      </p-persian-calendar>
    </div>



    <div class="col-12">
      <p-button class="pe-2 p-button-wide" styleClass="p-button-success" [label]="'ثبت'" type="submit"
        [loading]="isLoadingSubmit"></p-button>
    </div>
  </div>
</form>