
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  font-size: 14px;
  height: var(--footer-height);
  background-color: var(--sidemenu-main-color);
  box-shadow: var(--main-box-shadow);
  z-index: var(--z-index-footer);

  .copy-right {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    direction: rtl;
  }

  div {
    font-size: 14px;
    font-weight: 500;
    color: var(--main-card-color);
    transition: var(--main-transition);
  }
}

@media (max-width: 400px) {
  .copy-right {
    max-width: 20rem;
  }
}
