<p-toast key="message" position="bottom-left"></p-toast>

<div class="d-flex justify-content-between">
    <div class="table-header">شاخص های مرتبط با {{pageTitle}} </div>
    <!-- <div>
    <p-button class="pe-2 mr-8" styleClass="p-button-info" icon="pi pi-plus-circle" label="افزودن"
      (click)="addYearGoal()"></p-button>
  </div> -->
</div>

<div class="panel-search mt-8 mb-8">
    <div class="row mt-8 pb-3">
        <div class="col-4 mt-2">
            <label for="indicatorId"> شاخص </label>
            <p-dropdown id="indicatorId" name="indicatorId" [(ngModel)]="selectedIndicator" styleClass="w-100 my-1"
                optionLabel="indicatorTitle" placeholder="انتخاب کنید" [options]="relatedIndicatorList" [filter]="true">
            </p-dropdown>
        </div>
        <!-- دکمه -->
        <div class="d-flex justify-content-end col text-end" style="margin-top: 20px">
            <div class="search-button mt-12">

                <p-button class="pe-2 p-button-wide" styleClass="p-button-info px-3" [label]="'ثبت'"
                    [loading]="isLoadingSubmit" (click)="submit()"></p-button>
            </div>
        </div>
        <!-- / دکمه -->
    </div>
    <!-- / دکمه -->
    <!-- </div> -->
</div>

<div class="table-container">
    <p-table #dataTable dataKey="id" class="data-table d-none d-lg-block" [styleClass]="gridClass" [rowHover]="true"
        [paginator]="true" [rows]="dataTableRows" [rowsPerPageOptions]="[10, 20, 30]" [totalRecords]="totalCount"
        [value]="data" [loading]="isLoadingSubmit" [tableStyle]="{ 'min-width': '75rem' }" [lazy]="true"
        (onLazyLoad)="getList($event)" [(first)]="first">
        <!-- table header -->
        <ng-template pTemplate="header">
            <tr class="data-table__header">
                <th style="min-width: 10rem"><strong> عنوان </strong></th>
                <th style="min-width: 10rem"><strong> شاخص </strong></th>


                <th style="min-width: 0rem"><strong> عملیات</strong></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item item let-rowIndex="rowIndex">
            <tr>

                <td pTooltip="{{ item.referenceTitle }}" tooltipEvent="hover" tooltipPosition="top">
                    {{ item.referenceTitle }}
                </td>
                <td pTooltip="{{ item.indicatorTitle }}" tooltipEvent="hover" tooltipPosition="top">
                    {{ item.indicatorTitle }}
                </td>


                <td class="jc-left ai-left">

                    <button class="action-image-container edit-button" (click)="setValueOnIndicators(item)"
                        pTooltip="  مقدار دهی شاخص ">
                        <img ngSrc="icons\Group 131.svg" width="24" height="24" />
                    </button>

                    <!-- <button class="action-image-container delete-button" (click)="deleteRow(item)" pTooltip="حذف">
                        <img ngSrc="icons\Group 117.svg" width="24" height="24" />
                    </button> -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="data-list d-block d-lg-none">
    <ul *ngFor="let report of data" class="list-group my-1">
        <li class="list-group-item">
            <div class="row">
                <div class="col my-1 text-center">
                    <strong>عنوان</strong>
                </div>
                <div class="col my-1 text-center">
                    <strong>عملیات</strong>
                </div>

                <div class="col my-1 text-center">
                    <div class="d-flex jc-center ai-center">
                        <button class="action-image-container edit-button" (click)="editRow(report)" title="ویرایش">
                            <img ngSrc="icons\Group 116.svg" width="24" height="24" />
                        </button>

                        <button class="action-image-container delete-button" (click)="deleteRow(report)"
                            title="حذف بودجه ">
                            <img ngSrc="icons\Group 117.svg" width="24" height="24" />
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<p-confirmDialog [style]="{ width: '450px' }" [rtl]="true"></p-confirmDialog>