<form #formDir="ngForm" [formGroup]="editRoleForm" (ngSubmit)="addNewPerson()">
  <div class="container row ">
    <!-- نام نقش -->
    <div class="col-6 mt-2">
      <label for="name">نام نقش</label>
      <input pInputText [pKeyFilter]="patternText" id="name" name="name" formControlName="name" type="text"
        class="w-100" [value]="name?.value | faNum" [class.ng-invalid]="name?.invalid" [class.ng-dirty]="
          (addNewPersonFormSubmitted && name?.pristine) ||
          name?.dirty ||
          name?.touched
        " />
    </div>
    <!-- / نام نقش -->

    <!-- شرح -->
    <div class="col-6 mt-2">
      <label for="title">شرح</label>
      <input pInputText [pKeyFilter]="patternText" id="title" name="title" formControlName="title" type="text"
        class="w-100" [value]="title?.value | faNum" [class.ng-invalid]="title?.invalid" [class.ng-dirty]="
          (addNewPersonFormSubmitted && title?.pristine) ||
          title?.dirty ||
          title?.touched
        " />


    </div>
    <!-- / شرح -->
    <div class="col-12 row-btn row-btn-fixed-bottom">
      <p-button class="pe-2 p-button-wide" styleClass="p-button-success" [label]="'ثبت'" type="submit"
        [loading]="addNewPersonFormLoading"></p-button>
    </div>
  </div>
</form>