<form #formDir="ngForm" [formGroup]="editRoleForm">
  <div class="row row-cols-lg-2 row-cols-1">
    <!-- نام نقش -->
    <div class="col my-1">
      <label for="name">نام نقش</label>
      <input pInputText [pKeyFilter]="patternText" id="name" name="name" formControlName="name" type="text"
        class="w-100" [value]="name?.value | faNum" [class.ng-invalid]="name?.invalid" [class.ng-dirty]="
          (addNewPersonFormSubmitted && name?.pristine) ||
          name?.dirty ||
          name?.touched
        " />

      <div id="name-help">
        <small *ngIf="(addNewPersonFormSubmitted && name?.pristine) || 
            (name?.errors?.['required'] && (name?.dirty || name?.touched))" class="p-error">
          لطفا این فیلد را خالی نگذارید
        </small>
        <small style="visibility: hidden" class="p-error"> error </small>
      </div>
    </div>
    <!-- / نام نقش -->

    <!-- شرح -->
    <div class="col my-1">
      <label for="title">شرح</label>
      <input pInputText [pKeyFilter]="patternText" id="title" name="title" formControlName="title" type="text"
        class="w-100" [value]="title?.value | faNum" [class.ng-invalid]="title?.invalid" [class.ng-dirty]="
          (addNewPersonFormSubmitted && title?.pristine) ||
          title?.dirty ||
          title?.touched
        " />

      <div id="title-help">
        <small *ngIf="(addNewPersonFormSubmitted && title?.pristine) || 
              (title?.errors?.['required'] && (title?.dirty || title?.touched))" class="p-error">
          لطفا این فیلد را خالی نگذارید
        </small>
        <small style="visibility: hidden" class="p-error"> error </small>
      </div>
    </div>
    <!-- / شرح -->

  </div>
</form>

<div style="text-align: left">
  <p-button *hasPermissions="['CONFIRM']" class="pe-2" styleClass="p-button-success"
    [label]="isEdit ? 'ویرایش' : 'افزودن'" type="submit" [loading]="addNewPersonFormLoading"
    [disabled]="!!selectedPerson.id" (click)="addNewPerson()"></p-button>
</div>