<body>
  <div class="dashboard-menu-list col-sm-12 col-xs-12">
    <ul>
      <li (click)="navigateToPage()"><span>ساختار درختی سازمان ها </span></li>
      <li><span> </span></li>
      <li><span> </span></li>
    </ul>
  </div>
  <div class="row">
    <div
      class="col-lg-2 col-md-2 col-sm-6 col-xs-6 center-box"
      *ngFor="let company of mySubCompanies">
      <div
        class="holding-box"
        [class.select-co-item]="company.isSelected"
        (click)="onSelectCompany(company)">
        <div
          class="div-img-logo"
          [style.background-image]="
            'url(../../../../assets/images/holding-logo/' + company.logo + ')'
          "></div>
        <div style="height: 36px">
          <span style="color: black">{{ company.companyName }}</span>
        </div>
        <span class="count">{{ company.count }}</span>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div
      [class.col-lg-9]="subCos.length > 0 && selectedHoldingId !== 5"
      [class.col-md-9]="subCos.length > 0 && selectedHoldingId !== 5"
      [class.col-lg-12]="subCos.length === 0 && selectedHoldingId === 5"
      [class.col-md-12]="subCos.length === 0 && selectedHoldingId === 5"
      class="col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="co-info-box">
            <h4>نمودار عملکرد شرکت</h4>
            <div class="row row-feature">
              <div
                *ngFor="let item of yearTypeLst"
                (click)="onYearType(item.id)"
                [class.select-feature]="item.isSelected">
                <span>{{ item.title }}</span>
              </div>
            </div>
            <div class="row row-feature">
              <div
                *ngFor="let item of reportTypeLst"
                (click)="onReportType(item.id)"
                [class.select-feature]="item.isSelected">
                <span>{{ item.title }}</span>
              </div>
            </div>
            <div id="chart-wrapper" class="chart-box">
              <canvas id="BarChart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="co-info-box cost-benefit-box">
            <h4>سود و زیان</h4>
            <div class="row div1">
              <div
                class="div2"
                [class.profitable-b-col]="benefitCost?.hasProfitable"
                [class.not-profitable-b-col]="!benefitCost?.hasProfitable">
                <i
                  class="pi"
                  [class.pi-arrow-up]="benefitCost?.hasProfitable"
                  [class.pi-arrow-down]="!benefitCost?.hasProfitable"></i>
              </div>
              <span
                class="cost"
                [class.profitable-col]="benefitCost?.hasProfitable"
                [class.not-profitable-col]="!benefitCost?.hasProfitable"
                >{{ benefitCost?.benefitThisYear }} ریال</span
              >
              <div>
                <span>سود شرکت در سال گذشته</span>
              </div>
            </div>
            <div class="div3">
              <span>مشاهده تغییرات نسبت به سال گذشته</span>
            </div>
            <div class="div4">
              <span class="ttl">درصد تغییر: </span>
              <i
                [class.pi-angle-up]="benefitCost?.hasProfitable"
                [class.pi-angle-down]="!benefitCost?.hasProfitable"
                [class.profitable-col]="benefitCost?.hasProfitable"
                [class.not-profitable-col]="!benefitCost?.hasProfitable"
                class="pi val"></i>
              <span
                class="val"
                [class.profitable-col]="benefitCost?.hasProfitable"
                [class.not-profitable-col]="!benefitCost?.hasProfitable"
                >{{ benefitCost?.percentageChange }}</span
              >
            </div>
            <div class="div4">
              <span class="ttl">میزان تغییر: </span>
              <i
                [class.pi-angle-up]="benefitCost?.hasProfitable"
                [class.pi-angle-down]="!benefitCost?.hasProfitable"
                [class.profitable-col]="benefitCost?.hasProfitable"
                [class.not-profitable-col]="!benefitCost?.hasProfitable"
                class="pi val"></i>
              <span
                class="val"
                [class.profitable-col]="benefitCost?.hasProfitable"
                [class.not-profitable-col]="!benefitCost?.hasProfitable"
                >{{ benefitCost?.countChange }}</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-b-20">
        <div
          class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
          style="padding-top: 20px">
          <div class="co-info-box">
            <div class="row">
              <h3 class="margin-20">اطلاعات شرکت</h3>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 inline-flx">
                <h5>مدیرعامل :</h5>
                <span>{{ coInfo.managingDirector }}</span>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 inline-flx">
                <h5>شناسه ملی شرکت :</h5>
                <span>{{ coInfo.nationalID }}</span>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 inline-flx">
                <h5>سرمایه ثبت شده :</h5>
                <span>{{ coInfo.registeredCapital }}</span>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 inline-flx">
                <h5>نام شرکت :</h5>
                <span>{{ coInfo.companyName }}</span>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 inline-flx">
                <h5>سال تاسیس :</h5>
                <span>{{ coInfo.persianRegisterDate }}</span>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-btn">
                <p-button
                  class="pe-2"
                  styleClass="p-button-info"
                  icon="pi pi-plus-circle"
                  label="مشاهده جزئیات شرکت"
                  (click)="onCoDetail()"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="subCos.length > 0 && selectedHoldingId !== 5"
      class="col-lg-3 col-md-3 col-sm-12 col-xs-12 margin-b-20">
      <div class="co-info-box">
        <div class="row">
          <h4 class="sub-co-title">شرکت های تابعه</h4>
        </div>
        <div
          *ngFor="let item of subCos"
          class="row sub-co"
          (click)="onSelectSubCo(item.id)"
          [class.selected-sub-co]="item.isSelected">
          <span>{{ item.companyName }}</span>
        </div>
      </div>
    </div>
  </div>
</body>
