body {
    background-color: #F5F7FA;
    height: 87vh;
}

.disable-item {
    opacity: 0.5;
    cursor: unset !important;
}

.select-co-item {
    background-color: #E2E8F0 !important;
}


.dashboard-menu-list {
    background-color: #3B82F6;
    color: #fff;
    padding: 5px 2px;
    margin-bottom: 10px;
    border-radius: 8px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        padding: 5px 10px;
        cursor: pointer;
    }

}


.div-img-logo {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    border-radius: 8px;
}

.holding-box {
    @extend.all-box;
    align-content: center;
    text-align: -webkit-center;
    height: 140px;
    margin: 5px 10px 0px 10px;
    cursor: pointer;

    .count {
        color: #3B82F6;
        position: relative;
        top: 3px;
    }
}

.all-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(182, 194, 211, 0.35);
}

.co-info-box {
    @extend .all-box;
    height: 100%;

    h4 {
        padding: 25px 30px 15px;
    }

    .inline-flx {
        display: inline-flex;
        padding: 20px;

        h5,
        span {
            text-align: center;
        }
    }
}

.chart-box {
    height: 280px !important;
    text-align: -webkit-center;
}

.h-60 {
    height: 60vh;
}

.margin-20 {
    margin: 20px;

    span {
        width: fit-content;
    }
}

h5 {
    width: 160px;
}

.chart-outside-box {
    padding: 0px 15px 0px 15px;
}

#chart-wrapper {
    background-color: white;
    height: 100%;
}

.row-feature {
    margin: 0px 30px 20px;

    div {
        width: fit-content;
        background-color: #E2E8F0;
        color: #64748B;
        padding: 3px 10px;
        border-radius: 7px;
        cursor: pointer;
        margin-left: 10px;
    }
}

.select-feature {
    background-color: #3B82F6 !important;
    color: white !important;
}

.deselect-feature {
    background-color: #E2E8F0 !important;
    color: #64748B !important;
}

.center-box {
    text-align: -webkit-center;
    padding: 0px;
}

.sub-co-title {
    margin: 0px 10px 0px 10px;
}

.sub-co {
    background-color: #F1F5F9;
    margin: 12px;
    font-size: 13px;
    padding: 7px;
    border-radius: 7px;
    color: black;
    cursor: pointer;

    &:hover {
        @extend .selected-sub-co;
    }
}

.selected-sub-co {
    background-color: #DBEAFE;
    color: #1E40AF;
    font-size: 14px;
    font-weight: 500;
}

#chart-wrapper {
    height: 250px !important;
    text-align: -webkit-center;
}

.margin-b-20 {
    margin-bottom: 20px;
    ;
}