<!-- pop up messages -->
<p-toast key="tagTypeDefinition" position="bottom-left"></p-toast>

<!-- data table -->
<section class="section">
  <!-- <div class="card">
    <div class="card-body"> -->
  <div class="card-text pt-3"></div>
  <!-- input group -->
  <div class="pb-2">
    <p-panel class="search-panel__secation pb-1" header="تعریف نوع تگ">
      <form
        #formDir="ngForm"
        [formGroup]="addNewTagTypeForm"
        (ngSubmit)="addOrUpdateTagType()">
        <div class="container">
          <div class="row row-cols-lg-3 row-cols-1">
            <!-- نام تگ -->
            <div class="col my-1">
              <label for="name">نام تگ</label>
              <input
                pInputText
                id="name"
                name="name"
                formControlName="name"
                type="text"
                class="w-100"
                [class.ng-invalid]="name?.invalid"
                [class.ng-dirty]="
                  (addNewTagTypeFormSubmitted && name?.pristine) ||
                  name?.dirty ||
                  name?.touched
                " />

              <div id="name-help">
                <small
                  *ngIf="(addNewTagTypeFormSubmitted && name?.pristine) || 
                  (name?.errors?.['required'] && (name?.dirty || name?.touched))"
                  class="p-error">
                  لطفا این فیلد را خالی نگذارید
                </small>
                <small style="visibility: hidden" class="p-error">
                  error
                </small>
              </div>
            </div>
            <!-- / نام تگ -->

            <!-- نوع تگ -->
            <div class="col my-1">
              <label for="typeName">نوع تگ</label>
              <input
                pInputText
                id="typeName"
                name="typeName"
                formControlName="typeName"
                type="text"
                class="w-100"
                [class.ng-invalid]="typeName?.invalid"
                [class.ng-dirty]="
                  (addNewTagTypeFormSubmitted && typeName?.pristine) ||
                  typeName?.dirty ||
                  typeName?.touched
                " />

              <div id="typeName-help">
                <small
                  *ngIf="(addNewTagTypeFormSubmitted && typeName?.pristine) || 
                  (typeName?.errors?.['required'] && (typeName?.dirty || typeName?.touched))"
                  class="p-error">
                  لطفا این فیلد را خالی نگذارید
                </small>
                <small style="visibility: hidden" class="p-error">
                  error
                </small>
              </div>
            </div>
            <!-- / نوع تگ -->
          </div>
          <div class="row">
            <!-- دکمه ها -->
            <div
              class="d-flex jc-center justify-content-lg-end col my-1"
              style="padding-top: 20px">
              <p-button
                class="pe-2 p-button-wide"
                styleClass="p-button-success"
                label="تایید"
                icon="pi pi-check"
                type="submit"
                [loading]="addNewTagTypeLoading"></p-button>

              <p-button
                class="pe-2 p-button-wide"
                styleClass="p-button-warning"
                label="انصراف"
                icon="pi pi-times"
                (click)="resetaddNewTagTypeForm()"></p-button>
            </div>
            <!-- / دکمه ها -->
          </div>
        </div>
      </form>
    </p-panel>
  </div>
  <!-- / input group -->

  <!-- data table -->
  <p-table
    #dataTable
    class="data-table d-none d-lg-block"
    dataKey="id"
    [styleClass]="gridClass"
    [paginator]="true"
    [rows]="dataTableRows"
    [rowsPerPageOptions]="[10, 20, 30]"
    [rowHover]="true"
    [totalRecords]="totalCount"
    [value]="tagTypes"
    [loading]="loading"
    [tableStyle]="{ 'min-width': '75rem' }">
    <!-- table header -->
    <ng-template pTemplate="header">
      <tr class="data-table__header">
        <!-- <th style="min-width: 3rem">
              <strong>ردیف</strong>
            </th> -->

        <th style="min-width: 20rem">
          <strong>نام تگ</strong>
        </th>

        <th style="min-width: 20rem">
          <strong>نوع تگ</strong>
        </th>

        <th style="min-width: 2rem">
          <strong> عملیات </strong>
        </th>
      </tr>
    </ng-template>
    <!-- / table header -->
    <!-- table body -->
    <ng-template pTemplate="body" let-tagType let-rowIndex="rowIndex">
      <tr>
        <!-- <td>
              <strong style="font-size: 17px">
                {{ rowIndex + 1 | faNum }}
              </strong>
            </td> -->

        <td>{{ tagType.name }}</td>

        <td>{{ tagType.typeName }}</td>

        <!-- actions -->
        <td class="d-flex jc-center ai-center">
          <!-- edit -->
          <p-button
            pRipple
            class="pe-2"
            styleClass="p-button-text p-button-warning p-button-rounded"
            type="button"
            icon="pi pi-pencil"
            (click)="editRow(tagType)">
          </p-button>
          <!-- / edit -->

          <!-- delete -->
          <p-button
            pRipple
            class="pe-2"
            styleClass="p-button-text p-button-danger p-button-rounded"
            type="button"
            icon="pi pi-times"
            (click)="deleteRow(tagType)">
          </p-button>
          <!-- / delete -->
        </td>
        <!-- actions -->
      </tr>
    </ng-template>
    <!-- / table body -->
  </p-table>
  <!-- data table -->

  <!-- data list -->
  <div class="data-list d-block d-lg-none">
    <ul *ngFor="let tagType of tagTypes" class="list-group my-1">
      <!-- نوع تگ -->
      <li class="list-group-item">
        <div class="row">
          <div class="col my-1 text-center">
            <strong>نوع تگ</strong>
          </div>

          <div class="col my-1 text-center">
            {{ tagType.typeName }}
          </div>
        </div>
      </li>
      <!-- / نوع تگ -->

      <!-- نام تگ -->
      <li class="list-group-item">
        <div class="row">
          <div class="col my-1 text-center">
            <strong>نام تگ</strong>
          </div>

          <div class="col my-1 text-center">
            {{ tagType.name }}
          </div>
        </div>
      </li>
      <!-- / نام تگ -->

      <!-- عملیات -->
      <li class="list-group-item">
        <div class="row">
          <div class="col my-1 text-center">
            <strong>عملیات</strong>
          </div>

          <div class="col my-1 text-center">
            <div class="d-flex jc-center ai-center">
              <!-- edit -->
              <p-button
                pRipple
                styleClass="p-button-text p-button-warning"
                type="button"
                icon="pi pi-pencil"
                (click)="editRow(tagType)">
              </p-button>
              <!-- / edit -->

              <!-- delete -->
              <p-button
                pRipple
                styleClass="p-button-text p-button-danger"
                type="button"
                icon="pi pi-times"
                (click)="deleteRow(tagType)">
              </p-button>
              <!-- / delete -->
            </div>
          </div>
        </div>
      </li>
      <!-- / عملیات -->
    </ul>
  </div>
  <!-- / data list -->
  <!-- </div>
  </div> -->
</section>
<!-- / data table -->

<p-confirmDialog [style]="{ width: '450px' }" [rtl]="true"></p-confirmDialog>
