.disable-btns {
    opacity: 40%;
    cursor: default !important;
}

.enable-btns {
    opacity: 100%;
    cursor: pointer !important;
}

.headerStyle{
    background-color: #EEF2FF !important;
    height: 38px;
    border-radius: 8px ;
    padding-top: 8px !important;
    margin-left: 7px;
    width : 43rem;
    text-align: -webkit-center !important;
}

.detailStyle{
    text-align: -webkit-center !important;
    display: flex;
     width: 28rem
}

 :host ::ng-deep    .table-container    .p-datatable-tbody>tr>td {
    text-align: center !important;

    &:last-child {
      text-align: center !important;

    }
  }

  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background: unset;
    transition: box-shadow 0.2s;
    border-color: transparent !important;
  }

  ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #3B82F6 !important;
    background: #3B82F6 !important;
  }

  ::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #3B82F6 !important;
  }