.disable-btns {
  opacity: 40%;
  cursor: default !important;
}

.enable-btns {
  opacity: 100%;
  cursor: pointer !important;
}

.negativeNumbers {
  direction: ltr;
  color: red;
  font-size: 1.1rem;
}

.chartStyle{
  // width: 900px !important;
  padding-right : 5rem !important;
  border: solid #FED7AA !important;
  border-radius: 7px;
  margin-top: 40px;
  width: 920px  !important;
  height : 227px !important;
  margin-right: 80px !important;
  
}

