.disable-btns {
  opacity: 40%;
  cursor: default !important;
}

.enable-btns {
  opacity: 100%;
  cursor: pointer !important;
}

.negativeNumbers {
  direction: ltr;
  color: red;
  font-size: 1.1rem;
}