:host ::ng-deep .row-btn.row-btn-fixed-bottom {
    bottom: 22px;
    position: absolute;
    left: 23px;
}

:host ::ng-deep .height-size .p-dialog {
    min-height: 350px !important;
    height: auto !important;
}