<p-toast key="yearGoal" position="bottom-left"></p-toast>

<form #formDir="ngForm" [formGroup]="addEditForm" (ngSubmit)="addEditBudget()">
  <div class="container row">
    <div class="col-6 mt-7">
      <label for="companyId"> شرکت </label>
      <p-dropdown
        id="companyId"
        name="companyId"
        formControlName="companyId"
        styleClass="w-100 my-1"
        optionLabel="partyName"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="companyList"
        [filter]="true"
        (onChange)="onChangeCompanyId($event)"
        [class.ng-invalid]="companyId?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && companyId?.pristine) ||
          companyId?.dirty ||
          companyId?.touched
        ">
      </p-dropdown>
    </div>
    <div class="col-3 mt-7">
      <label for="periodId"> دوره </label>
      <p-dropdown
        id="periodId"
        name="periodId"
        formControlName="periodId"
        styleClass="w-100 my-1"
        optionLabel="periodTitle"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="budgetPeriodList"
        [filter]="true"
        (onChange)="
          getReferenceFilteredList(); getPeriodDetailList($event.value)
        "
        [class.ng-invalid]="periodId?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && periodId?.pristine) ||
          periodId?.dirty ||
          periodId?.touched
        ">
      </p-dropdown>
    </div>
    <div class="col-3 mt-7">
      <label for="referenceCode"> مرجع برنامه عملیاتی </label>
      <p-dropdown
        id="referenceCode"
        name="referenceCode"
        formControlName="referenceCode"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        (onChange)="getReferenceFilteredList()"
        placeholder="انتخاب کنید"
        [options]="referenceList"
        [filter]="true"
        [class.ng-invalid]="referenceCode?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && referenceCode?.pristine) ||
          referenceCode?.dirty ||
          referenceCode?.touched
        ">
      </p-dropdown>
    </div>
    <div class="col-12 mt-6">
      <label
        for="referenceId"
        *ngIf="referenceOnList['labels'] && referenceOnList['labels'] !== ''">
        {{ referenceOnList['labels'] }}
      </label>
      <label
        for="referenceId"
        *ngIf="!referenceOnList['labels'] || referenceOnList['labels'] === ''">
        عنوان لیست
      </label>
      <p-dropdown
        id="referenceId"
        name="referenceId"
        formControlName="referenceId"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="referenceOnList['contents']"
        [filter]="true"
        [panelStyle]="{ width: '70rem' }"
        [class.ng-invalid]="referenceId?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && referenceId?.pristine) ||
          referenceId?.dirty ||
          referenceId?.touched
        ">
        <ng-template let-item pTemplate="item">
          <div pTooltip="{{ item.title }}" tooltipPosition="top">
            {{ item.title }}
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <!--  دوره عملیاتی -->
    <div class="col-4">
      <label for="fromPeriodDetailId"> از دوره عملیاتی </label>
      <p-dropdown
        id="fromPeriodDetailId"
        name="fromPeriodDetailId"
        formControlName="fromPeriodDetailId"
        styleClass="w-100 my-1"
        optionLabel="periodDetailTitle"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="periodDetailList"
        [filter]="true"
        [class.ng-invalid]="fromPeriodDetailId?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && fromPeriodDetailId?.pristine) ||
          fromPeriodDetailId?.dirty ||
          fromPeriodDetailId?.touched
        ">
      </p-dropdown>
    </div>
    <div class="col-4">
      <label for="toPeriodDetailId">تا دوره عملیاتی </label>
      <p-dropdown
        id="toPeriodDetailId"
        name="toPeriodDetailId"
        formControlName="toPeriodDetailId"
        styleClass="w-100 my-1"
        optionLabel="periodDetailTitle"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="periodDetailList"
        [filter]="true"
        [class.ng-invalid]="toPeriodDetailId?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && toPeriodDetailId?.pristine) ||
          toPeriodDetailId?.dirty ||
          toPeriodDetailId?.touched
        ">
      </p-dropdown>
    </div>
    <!--  دوره عملیاتی -->

    <div class="col-4">
      <label for="rollId"> مسئول</label>
      <p-dropdown
        id="rollId"
        name="rollId"
        formControlName="rollId"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="rollList"
        [filter]="true"
        [class.ng-invalid]="rollId?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && rollId?.pristine) ||
          rollId?.dirty ||
          rollId?.touched
        ">
      </p-dropdown>
    </div>
    <div class="col-4">
      <label for="projectId"> شناسه طرح</label>
      <p-dropdown
        id="projectId"
        name="projectId"
        formControlName="projectId"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="operationList"
        [filter]="true">
      </p-dropdown>
    </div>
    <div class="col-4">
      <label for="weightCode"> وزن</label>
      <p-dropdown
        id="weightCode"
        name="weightCode"
        formControlName="weightCode"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="weightCodeList"
        [filter]="true"
        [class.ng-invalid]="weightCode?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && weightCode?.pristine) ||
          weightCode?.dirty ||
          weightCode?.touched
        ">
      </p-dropdown>
    </div>
    <div class="col-4">
      <label for="priorityCode"> اولویت</label>
      <p-dropdown
        id="priorityCode"
        name="priorityCode"
        formControlName="priorityCode"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="priorityCodeList"
        [filter]="true"
        [class.ng-invalid]="priorityCode?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && priorityCode?.pristine) ||
          priorityCode?.dirty ||
          priorityCode?.touched
        ">
      </p-dropdown>
    </div>

    <div class="col-4">
      <label for="priceCu"> تاثیر مالی (میلیون ریال) </label>
      <p-inputNumber
        id="priceCu"
        formControlName="priceCu"
        inputId="integeronly"
        class="w-100"
        [class.ng-invalid]="priceCu?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && priceCu?.pristine) ||
          priceCu?.dirty ||
          priceCu?.touched
        "></p-inputNumber>
    </div>

    <div class="col-8">
      <label for="costCenterId"> مرکز هزینه</label>
      <p-dropdown
        id="costCenterId"
        name="costCenterId"
        formControlName="costCenterId"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="costCenterList"
        [filter]="true"
        [class.ng-invalid]="costCenterId?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && costCenterId?.pristine) ||
          costCenterId?.dirty ||
          costCenterId?.touched
        ">
      </p-dropdown>
    </div>

    <div class="col-12">
      <label for="description"> شرح </label>
      <textarea
        pInputTextarea
        id="description"
        name="description"
        formControlName="description"
        rows="3"
        cols="10"
        class="w-100"
        [class.ng-invalid]="description?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && description?.pristine) ||
          description?.dirty ||
          description?.touched
        "></textarea>
    </div>
    <div class="col-12">
      <label for="title"> عنوان </label>
      <textarea
        pInputTextarea
        id="title"
        name="title"
        formControlName="title"
        rows="3"
        cols="10"
        class="w-100"
        [class.ng-invalid]="title?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && title?.pristine) ||
          title?.dirty ||
          title?.touched
        "></textarea>
    </div>
    <div class="col-12 row-btn">
      <p-button
        class="mt-8 p-button-wide"
        styleClass="p-button-success"
        [label]="'ثبت'"
        type="submit"
        [loading]="isLoadingSubmit"></p-button>
    </div>
  </div>
</form>
