<p-toast key=" Indicator" position="bottom-left"></p-toast>

<form
  #formDir="ngForm"
  [formGroup]="addEditForm"
  (ngSubmit)="addEditIndicatorValue()">
  <div class="container row">

    <div class="col-6 mt-2">
      <label for="companyId">شناسه شرکت</label>
      <p-dropdown
        id="companyId"
        name="companyId"
        formControlName="companyId"
        styleClass="w-100 my-1"
        optionLabel="partyName"
        optionValue="id"
        (onChange)="onChangeCompany($event)"
        placeholder="انتخاب کنید"
        [options]="companyList"
        [filter]="true"
        [class.ng-invalid]="companyId?.invalid"
        [class.ng-dirty]="
          (submitted && companyId?.pristine) ||
          companyId?.dirty ||
          companyId?.touched
        ">
      </p-dropdown>
    </div>
    <div class="col-6 mt-2">
      <label for="periodId"> دوره بودجه</label>
      <p-dropdown
        id="periodId"
        name="periodId"
        formControlName="periodId"
        styleClass="w-100 my-1"
        optionLabel="periodTitle"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="periodList"
        (onChange)="onChangePeriod($event)"
        [filter]="true">
      </p-dropdown>
    </div>



    <div
      *ngIf="addInputsEnable.fromPeriodDetailId.visibility === true"
      class="col-6 mt-2">
      <label for="fromPeriodDetailId">از دوره عملیاتی</label>
      <p-dropdown
        id="fromPeriodDetailId"
        name="fromPeriodDetailId"
        formControlName="fromPeriodDetailId"
        styleClass="w-100 my-1"
        optionLabel="periodDetailTitle"
        optionValue="id"
        [filter]="true"
        [options]="periodDetailLst"
        placeholder="انتخاب کنید">
      </p-dropdown>
      <!-- / دوره عملیاتی -->
    </div>
    <div
      *ngIf="addInputsEnable.toPeriodDetailId.visibility === true"
      class="col-6 mt-2">
      <label for="toPeriodDetailId">تا دوره عملیاتی</label>
      <p-dropdown
        id="toPeriodDetailId"
        name="toPeriodDetailId"
        formControlName="toPeriodDetailId"
        styleClass="w-100 my-1"
        optionLabel="periodDetailTitle"
        optionValue="id"
        [filter]="true"
        [options]="periodDetailLst"
        placeholder="انتخاب کنید">
      </p-dropdown>
      <!-- / دوره عملیاتی -->
    </div>
    <div
      *ngIf="addInputsEnable.qualityValue.visibility === true"
      class="col-6 mt-2">
      <label for="qualityValue"> مقدار مرتبط</label>
      <p-dropdown
        id="qualityValue"
        name="qualityValue"
        formControlName="qualityValue"
        styleClass="w-100 my-1"
        optionLabel="indicatorChartValueTitle"
        optionValue="indicatorChartValueId"
        placeholder="انتخاب کنید"
        [options]="chartValueList"
        [filter]="true">
      </p-dropdown>
    </div>

    <div
      *ngIf="addInputsEnable.minValue.visibility === true"
      class="col-6 mt-2">
      <label for="minValue">حداقل مجاز </label>
      <input
        pInputText
        id="minValue"
        name="minValue"
        formControlName="minValue"
        class="w-100 my-1" />
    </div>

    <div
      *ngIf="addInputsEnable.maxValue.visibility === true"
      class="col-6 mt-2">
      <label for="maxValue">حداکثر مجاز </label>
      <input
        pInputText
        id="maxValue"
        name="maxValue"
        formControlName="maxValue"
        class="w-100 my-1" />
    </div>

    <div class="col-12 row-btn row-btn-fixed-bottom">
      <p-button
        class="pe-2"
        styleClass="p-button-warning"
        label="انصراف"
        icon="pi pi-times"
        (click)="closeModal()"></p-button>
      <p-button
        class="pe-2 p-button-wide"
        styleClass="p-button-success"
        [label]="'ثبت'"
        type="submit"
        [loading]="isLoadingSubmit"></p-button>
    </div>
  </div>
</form>
