<p-toast key="plan" position="bottom-left"></p-toast>

<div class="d-flex justify-content-between">
    <div class="table-header">ارزش ها</div>
    <div>
        <p-button class="pe-2 mr-8" styleClass="p-button-info" icon="pi pi-plus-circle" label="افزودن"
            (click)="addPlan()"></p-button>
    </div>
</div>

<div class="panel-search mt-8 mb-8">
    <form #formDir="ngForm" [formGroup]="searchForm">
        <div class="row mt-8 pb-3">
            <div class="col-3 mt-2">
                <label for="title"> عنوان </label>
                <input pInputText id="title" name="title" formControlName="title" class="w-100 my-1" />
            </div>
            <div class="col-3 mt-2">
                <label for="keyTypeCode"> کلید واژه</label>
                <p-dropdown id="keyTypeCode" name="keyTypeCode" formControlName="keyTypeCode" styleClass="w-100 my-1"
                    optionLabel="title" optionValue="id" placeholder="انتخاب کنید" [options]="KeyTypeList"
                    [filter]="true">
                </p-dropdown>
            </div>
            <div class="col-3 mt-2">
                <label for="planingId"> برنامه</label>
                <p-dropdown id="planingId" name="planingId" formControlName="planingId" styleClass="w-100 my-1"
                    optionLabel="title" optionValue="id" placeholder="انتخاب کنید" [options]="planingList"
                    [filter]="true">
                </p-dropdown>
            </div>
            <!-- دکمه -->
            <div class="d-flex justify-content-end col text-end" style="margin-top: 20px">
                <div class="search-button mt-12">
                    <div class="clear-search" (click)="clearSearch()">
                        <i class="pi pi-filter-slash"></i>
                    </div>
                    <p-button class="pe-2 p-button-wide" styleClass="p-button-info" [label]="'جستجو'"
                        (click)="getPlan()"></p-button>
                </div>
            </div>
            <!-- / دکمه -->
        </div>
    </form>
</div>

<div class="table-container">
    <p-table #dataTable dataKey="id" class="data-table d-none d-lg-block" [styleClass]="gridClass" [rowHover]="true"
        [paginator]="true" [rows]="dataTableRows" [rowsPerPageOptions]="[10, 20, 30]" [totalRecords]="totalCount"
        [value]="data" [loading]="loading" [tableStyle]="{ 'min-width': '75rem' }" [lazy]="true"
        (onLazyLoad)="getPlan($event)" [(first)]="first">
        <!-- table header -->
        <ng-template pTemplate="header">
            <tr class="data-table__header">
                <th style="min-width: 10rem"><strong> کد </strong></th>
                <th style="min-width: 10rem"><strong> عنوان </strong></th>
                <th style="min-width: 10rem"><strong> برنامه </strong></th>
                <th style="min-width: 10rem"><strong> شرکت </strong></th>
                <th style="min-width: 10rem"><strong> کلیدواژه </strong></th>

                <th style="min-width: 10rem"><strong> عملیات</strong></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item item let-rowIndex="rowIndex">
            <tr>
                <td>{{ item.planningValueCode }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.planningTitle }}</td>
                <td>{{ item.companyTitle }}</td>
                <td>{{ item.keyTypeTitle }}</td>

                <td class="jc-left ai-left">
                    <button class="action-image-container edit-button" (click)="editRow(item)" pTooltip="ویرایش">
                        <img ngSrc="icons\Group 116.svg" width="24" height="24" />
                    </button>

                    <button class="action-image-container delete-button" (click)="deleteRow(item)" pTooltip="حذف">
                        <img ngSrc="icons\Group 117.svg" width="24" height="24" />
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="data-list d-block d-lg-none">
    <ul *ngFor="let report of data" class="list-group my-1">
        <li class="list-group-item">
            <div class="row">
                <div class="col my-1 text-center">
                    <strong>عنوان</strong>
                </div>
                <div class="col my-1 text-center">
                    <strong>عملیات</strong>
                </div>

                <div class="col my-1 text-center">
                    <div class="d-flex jc-center ai-center">
                        <button class="action-image-container edit-button" (click)="editRow(report)" title="ویرایش">
                            <img ngSrc="icons\Group 116.svg" width="24" height="24" />
                        </button>

                        <button class="action-image-container delete-button" (click)="deleteRow(report)"
                            title="حذف بودجه ">
                            <img ngSrc="icons\Group 117.svg" width="24" height="24" />
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<p-dialog *ngIf="isOpenAddEditPlan" [header]="modalTitle" [(visible)]="isOpenAddEditPlan" [modal]="true"
    [draggable]="false" [resizable]="false" [class.height-size]="mode === 'insert' || mode === 'edit'"
    [style]="{ width: '800px', height: '400px' }">
    <PABudget-add-edit-planning-value [data]="addEditData" [mode]="mode"
        (isSuccess)="reloadData()"></PABudget-add-edit-planning-value>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" [rtl]="true"></p-confirmDialog>