:host ::ng-deep .p-button-wide .p-button {
    min-width: 9rem;
}

.table-container {
    background: #fff;
    padding: 13px 20px 11px;
    height: 100%;
    width: auto;
    border-radius: 10px;
    margin-bottom: 15px;

    .table-header {
        padding: 0 0 11px;
        font-size: 1rem;
        font-weight: 600;
    }
}

:host ::ng-deep .p-datatable {
    .p-datatable-thead>tr>th {
        background: unset;
        text-align: right !important;

        &:last-child {
            text-align: center !important;
        }
    }

    .p-datatable-tbody>tr>td {
        text-align: right !important;

        &:last-child {
            text-align: left !important;

        }
    }
}


