:host ::ng-deep .p-button-wide .p-button {
    min-width: 9rem;
}

.web-style{
    margin-top: 15px;
}

.main {
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: var(--main-card-shadow);
    background-color: var(--main-card-background) !important;
    border-color: var(--main-card-border-color) !important;
    border: 1px solid;
    padding: 20px;
    height: 82vh;
}

.submit-btn{
    top: 10px;
    position: relative;
}

.div-search-btn{
    padding-top: 20px;
    text-align: center;
}