<p-toast key=" Indicator"
  position="bottom-left"></p-toast>

<form #formDir="ngForm"
  [formGroup]="addEditForm"
  (ngSubmit)="addEditIndicator()">
  <div class="container row">
    <!-- <div class="col-6 mt-2">
      <label for="code"> کد </label>
      <input
        pInputText
        id="code"
        name="code"
        formControlName="code"
        class="w-100 my-1"
        [class.ng-invalid]="code?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && code?.pristine) ||
          code?.dirty ||
          code?.touched
        " />
    </div> -->
    <div class="col-6 mt-2">
      <label for="title">عنوان </label>
      <input pInputText
        id="title"
        name="title"
        formControlName="title"
        class="w-100 my-1"
        [class.ng-invalid]="title?.invalid"
        [class.ng-dirty]="
          (addEditFormSubmitted && title?.pristine) ||
          title?.dirty ||
          title?.touched
        " />
    </div>

    <div class="col-6 mt-2">
      <label for="chartTypeCode"> نوع جدولی</label>
      <p-dropdown id="chartTypeCode"
        name="chartTypeCode"
        formControlName="chartTypeCode"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="chartTypeList"
        [filter]="true">
      </p-dropdown>
    </div>
    <div class="col-6 mt-2">
      <label for="indicatorTypeCode"> نوع شاخص</label>
      <p-dropdown id="indicatorTypeCode"
        name="indicatorTypeCode"
        formControlName="indicatorTypeCode"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="indicatorTypeList"
        [filter]="true">
      </p-dropdown>
    </div>
    <div class="col-6 mt-2">
      <label for="periodTypeCode"> نوع دوره</label>
      <p-dropdown id="periodTypeCode"
        name="periodTypeCode"
        formControlName="periodTypeCode"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="periodTypeList"
        [filter]="true">
      </p-dropdown>
    </div>
    <div class="col-6 mt-2">
      <label for="minMaxTypeCode"> نوع حداقل/حداکثر</label>
      <p-dropdown id="minMaxTypeCode"
        name="minMaxTypeCode"
        formControlName="minMaxTypeCode"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="minMaxTypeCodeList"
        [filter]="true">
      </p-dropdown>
    </div>
    <div class="col-6 mt-2">
      <label for="accountReportItemId"> آیتم مالی مرتبط</label>
      <p-dropdown id="accountReportItemId"
        name="accountReportItemId"
        formControlName="accountReportItemId"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="accountReportItemList"
        [filter]="true">
      </p-dropdown>
    </div>
    <div class="col-6 mt-2">
      <label for="qualityTypeCode"> نوع کیفی</label>
      <p-dropdown id="qualityTypeCode"
        name="qualityTypeCode"
        formControlName="qualityTypeCode"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [options]="qualityTypeCodeList"
        [filter]="true">
      </p-dropdown>
    </div>
    <div class="col-12 row-btn row-btn-fixed-bottom">
      <p-button class="pe-2"
        styleClass="p-button-warning"
        label="انصراف"
        icon="pi pi-times"
        (click)="closeModal()"></p-button>
      <p-button class="pe-2 p-button-wide"
        styleClass="p-button-success"
        [label]="'ثبت'"
        type="submit"
        [loading]="isLoadingSubmit"></p-button>
    </div>
  </div>
</form>