:host ::ng-deep .row-btn {
    bottom: 22px;
    position: absolute;
    left: 23px;
}

:host ::ng-deep .height-size .p-dialog {
    height: 500px !important;
}

.input-container {
    width: 70%;
    margin: 0 auto;
}

::ng-deep .p-inputnumber {
    width: 50%;
}

p-celleditor {
    padding: 0.5rem 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
    width: 46%;
    display: inline-block;
    text-align: center;
    direction: ltr;

    input.p-inputtext {
        background: none;
        border: unset;
        outline: unset;
        padding: unset;
        text-align: center !important;
        color: inherit;
        width: 100%;
        direction: ltr;
        font-size: 1.2rem;

        &:focus {
            box-shadow: unset;
            border-color: unset;
        }
    }
}

.negative-number {
    color: red;
}