<!-- pop up messages -->
<p-toast key="permissionRoleAssignment" position="bottom-left"></p-toast>

<!-- data table -->
<section class="section">
  <div class="card-text pt-3"></div>
  <!-- input group -->
  <div class="pb-2">
    <p-panel class="search-panel__secation pb-1" header=" تخصیص مجوز به نقش ها">
      <div class="container">
        <div class="row row-cols-lg-2 row-cols-1 pb-3">
          <!-- نقش‌ها -->
          <div class="col my-1">
            <label for="selectRole">انتخاب نقش</label>
            <p-dropdown
              id="selectRole"
              class="col"
              styleClass="w-100 my-1"
              optionLabel="title"
              [options]="roles"
              [(ngModel)]="selectedRole"
              placeholder="انتخاب کنید"
              (onChange)="getPermissions(selectedRole.id)">
            </p-dropdown>
          </div>
          <!-- / نقش‌ها -->
        </div>
      </div>
    </p-panel>
    <div class="row row-cols-lg-1 row-cols-1 pt-3">
      <!-- سطح دسترسی -->
      <div class="col my-1 text-center">
        <p-tree
          selectionMode="checkbox"
          class="w-full md:w-30rem"
          [loading]="loading"
          [value]="permissions"
          [(selection)]="selectedPermissions"
          [propagateSelectionUp]="true"
          [propagateSelectionDown]="false"></p-tree>
      </div>
      <!-- / سطح دسترسی -->
    </div>

    <!-- دکمه ها -->
    <div
      class="d-flex justify-content-center justify-content-md-end pt-3 w-100">
      <p-button
        class="pe-2"
        styleClass="p-button-success"
        label="تایید"
        icon="pi pi-check"
        [loading]="assertionLoading"
        (click)="assignPermissionsToRole(selectedRole.id)"></p-button>
    </div>
    <!-- / دکمه ها -->
  </div>
  <!-- / input group -->
</section>
<!-- / data table -->
