<!-- pop up messages -->
<p-toast key="notificationDefinition" position="bottom-left"></p-toast>

<form #formDir="ngForm" [formGroup]="editTagsForm">
  <div class="container">
    <div class="row row-cols-lg-4">
      <!-- تگ ها-->
      <div *ngFor="let el of tagsList" class="col my-1">
        <div *ngIf="el.typeName === 'Boolean'" style="padding-top: 17px">
          <label for="audited" class="px-2">
            <strong> {{ el.displayName }} </strong>
          </label>
          <p-inputSwitch id="audited" name="audited" formControlName="{{
              el.tagName + '_' + el.typeName + '_' + el.docTypeId
            }}"></p-inputSwitch>
        </div>
        <div *ngIf="el.typeName === 'String'">
          <label for="{{
              el.tagName + '_' + el.typeName + '_' + el.docTypeId
            }}" style="display: inherit">{{ el.displayName }}</label>
          <input id="{{
              el.tagName + '_' + el.typeName + '_' + el.docTypeId
            }}" name="documentType" formControlName="{{
              el.tagName + '_' + el.typeName + '_' + el.docTypeId
            }}" pInputText type="text" class="w-90" />
        </div>
        <div *ngIf="el.typeName === 'Decimal'">
          <label for="{{
              el.tagName + '_' + el.typeName + '_' + el.docTypeId
            }}">{{ el.displayName }}</label>
          <p-inputNumber mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="20" id="{{
              el.tagName + '_' + el.typeName + '_' + el.docTypeId
            }}" name="{{
              el.tagName + '_' + el.typeName + '_' + el.docTypeId
            }}" formControlName="{{
              el.tagName + '_' + el.typeName + '_' + el.docTypeId
            }}" value="
          editTagsForm.get(
            el.tagName + '_' + el.typeName + '_' + el.docTypeId
          )?.value
        ">
          </p-inputNumber>
        </div>
        <div *ngIf="el.typeName === 'Date'">
          <label for="{{
              el.tagName + '_' + el.typeName + '_' + el.docTypeId
            }}">{{ el.displayName }}</label>
          <p-persian-calendar id="{{
              el.tagName + '_' + el.typeName + '_' + el.docTypeId
            }}" name="{{
              el.tagName + '_' + el.typeName + '_' + el.docTypeId
            }}" formControlName="{{
              el.tagName + '_' + el.typeName + '_' + el.docTypeId
            }}" styleClass="w-100 ">
          </p-persian-calendar>
        </div>
        <div *ngIf="el.isRequired">
          <small *ngIf="
              editTagsForm.get(
                el.tagName + '_' + el.typeName + '_' + el.docTypeId
              )?.invalid &&
              (editTagsForm.get(
                el.tagName + '_' + el.typeName + '_' + el.docTypeId
              )?.dirty ||
                editTagsForm.get(
                  el.tagName + '_' + el.typeName + '_' + el.docTypeId
                )?.touched ||
                addNewFormSubmitted)
            " class="p-error">
            لطفا این فیلد را خالی نگذارید
          </small>
          <small style="visibility: hidden" class="p-error"> error </small>
        </div>
      </div>
      <!-- / تگ ها-->
    </div>

    <!-- دکمه ها -->
    <div class="d-flex justify-content-center justify-content-md-end pt-3 w-100">
      <p-button class="pe-2" styleClass="p-button-success" label="تایید" icon="pi pi-check"
        (onClick)="addNewReport()"></p-button>
      <p-button class="pe-2" styleClass="p-button-warning" label="انصراف" icon="pi pi-times"
        (click)="reseteditTagsForm()"></p-button>
    </div>
    <!-- / دکمه ها -->
  </div>
</form>