<p-toast key="plan"
  position="bottom-left"></p-toast>

<div class="d-flex justify-content-between">
  <div class="table-header">هزینه های پروژه</div>
  <div>
    <p-button class="pe-2 mr-8"
      styleClass="p-button-info"
      icon="pi pi-plus-circle"
      label="افزودن"
      (click)="addProjectCost()"></p-button>
  </div>
</div>

<div class="panel-search mt-8 mb-8">
  <form #formDir="ngForm"
    [formGroup]="searchForm">
    <div class="row mt-8 pb-3">
      <div class="col-3 my-2">
        <label for="periodId"> دوره بودجه</label>
        <p-dropdown id="periodId"
          name="periodId"
          formControlName="periodId"
          styleClass="w-100 my-1"
          optionLabel="periodTitle"
          optionValue="id"
          placeholder="انتخاب کنید"
          [options]="budgetPeriodList"
          (onChange)="onChangBudgetPeriod($event)"
          [filter]="true">
        </p-dropdown>
      </div>
      <div class="col-3 my-2">
        <label for="fromBudgetPeriodId"> دوره عملیاتی</label>
        <p-dropdown id="periodDetailId"
          name="periodDetailId"
          formControlName="periodDetailId"
          styleClass="w-100 my-1"
          optionLabel="periodDetailTitle"
          optionValue="id"
          [options]="OperationPeriodList"
          placeholder="انتخاب کنید"
          [filter]="true">
        </p-dropdown>
      </div>
      <!-- <div class="col-2 mt-2">
        <label for="projectId">شناسه پروژه </label>
        <input
          pInputText
          readonly="true"
          id="projectId"
          name="projectId"
          formControlName="projectId"
          class="w-100 my-1" />
      </div> -->

      <div class="col-3 my-2">
        <label for="sourceType"> منبع</label>
        <p-dropdown id="sourceType"
          name="sourceType"
          formControlName="sourceType"
          styleClass="w-100 my-1"
          optionLabel="title"
          optionValue="id"
          placeholder="انتخاب کنید"
          [options]="sourceTypeList"
          [filter]="true">
        </p-dropdown>
      </div>

      <div class="col-3 my-2">
        <label for="percentGrow">درصد پیشرفت فیزیکی</label>

        <input pInputText
          type="number"
          id="percentGrow"
          name="percentGrow"
          formControlName="percentGrow"
          maxlength="3"
          [min]="0"
          [max]="100"
          (keypress)="onlyNumberKey($event)"
          class="w-100 my-1" />
        <div *ngIf="percentGrow?.errors">
          <span class="reqText"> عدد وارد شده بزرگتر از 100 می باشد </span>
        </div>
      </div>

      <div class="col-2 mt-2">
        <label for="estimatePriceCu">برآورد هزینه (میلیون ریال)</label>
        <p-inputNumber id="estimatePriceCu"
          name="estimatePriceCu"
          formControlName="estimatePriceCu"
          inputId="integeronly"
          class="w-100"></p-inputNumber>
      </div>

      <div class="col-2 mt-2">
        <label for="realPriceCu">هزینه فعلی(میلیون ریال)</label>
        <p-inputNumber id="realPriceCu"
          name="realPriceCu"
          formControlName="realPriceCu"
          inputId="integeronly"
          class="w-100"></p-inputNumber>
      </div>

      <div class="d-flex justify-content-end col text-end"
        style="margin-top: 20px">
        <div class="search-button mt-12">
          <div class="clear-search"
            (click)="clearSearch()">
            <i class="pi pi-filter-slash"></i>
          </div>
          <p-button class="pe-2 p-button-wide"
            styleClass="p-button-info"
            [label]="'جستجو'"
            (click)="getProjectCost()"></p-button>
        </div>
      </div>
      <!-- / دکمه -->
    </div>
  </form>
</div>

<div class="table-container">
  <p-table #dataTable
    dataKey="id"
    class="data-table d-none d-lg-block"
    [styleClass]="gridClass"
    [rowHover]="true"
    [paginator]="true"
    [rows]="dataTableRows"
    [rowsPerPageOptions]="[10, 20, 30]"
    [totalRecords]="totalCount"
    [value]="data"
    [loading]="loading"
    [tableStyle]="{ 'min-width': '75rem' }"
    [lazy]="true"
    (onLazyLoad)="getProjectCost($event)"
    [(first)]="first">
    <!-- table header -->
    <ng-template pTemplate="header">
      <tr class="data-table__header">
        <th style="min-width: 10rem"><strong> دوره بودجه </strong></th>
        <th style="min-width: 10rem"><strong> دوره عملیاتی </strong></th>
        <th style="min-width: 10rem"><strong> شناسه پروژه </strong></th>
        <th style="min-width: 10rem"><strong> واحد </strong></th>
        <th style="min-width: 10rem"><strong> منبع </strong></th>
        <th style="min-width: 10rem"><strong> درصد پیشرفت فیزیکی </strong></th>
        <th style="min-width: 10rem">
          <strong> برآورد هزینه (میلیون ریال) </strong>
        </th>
        <th style="min-width: 10rem">
          <strong> هزینه فعلی (میلیون ریال)</strong>
        </th>

        <th style="min-width: 10rem"><strong> عملیات</strong></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body"
      let-item
      item
      let-rowIndex="rowIndex">
      <tr>
        <td pTooltip="{{ item.periodTitle }}"
          tooltipEvent="hover"
          tooltipPosition="top">
          {{ item.periodTitle }}
        </td>
        <td pTooltip="{{ item.periodDetailTitle }}"
          tooltipEvent="hover"
          tooltipPosition="top">
          {{ item.periodDetailTitle }}
        </td>
        <td pTooltip="{{ item.periodTitle }}"
          tooltipEvent="hover"
          tooltipPosition="top">
          {{ item.periodTitle }}
        </td>
        <td pTooltip="{{ item.unitTitle }}"
          tooltipEvent="hover"
          tooltipPosition="top">
          {{ item.unitTitle }}
        </td>
        <td pTooltip="{{ item.sourceTypeTitle }}"
          tooltipEvent="hover"
          tooltipPosition="top">
          {{ item.sourceTypeTitle }}
        </td>
        <td pTooltip="{{ item.percentGrow }}"
          tooltipEvent="hover"
          tooltipPosition="top">
          {{ item.percentGrow }}
        </td>
        <td pTooltip="{{ item.estimatePriceCu }}"
          tooltipEvent="hover"
          tooltipPosition="top">
          {{ item.estimatePriceCu | number }}
        </td>
        <td pTooltip="{{ item.realPriceCu }}"
          tooltipEvent="hover"
          tooltipPosition="top">
          {{ item.realPriceCu | number }}
        </td>

        <td class="jc-left ai-left">
          <button class="action-image-container edit-button"
            (click)="editRow(item)"
            pTooltip="ویرایش">
            <img ngSrc="icons\Group 116.svg"
              width="24"
              height="24" />
          </button>

          <button class="action-image-container delete-button"
            (click)="deleteRow(item)"
            pTooltip="حذف">
            <img ngSrc="icons\Group 117.svg"
              width="24"
              height="24" />
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="data-list d-block d-lg-none">
  <ul *ngFor="let report of data"
    class="list-group my-1">
    <li class="list-group-item">
      <div class="row">
        <div class="col my-1 text-center">
          <strong>عنوان</strong>
        </div>
        <div class="col my-1 text-center">
          <strong>عملیات</strong>
        </div>

        <div class="col my-1 text-center">
          <div class="d-flex jc-center ai-center">
            <button class="action-image-container edit-button"
              (click)="editRow(report)"
              title="ویرایش">
              <img ngSrc="icons\Group 116.svg"
                width="24"
                height="24" />
            </button>

            <button class="action-image-container delete-button"
              (click)="deleteRow(report)"
              title="حذف بودجه ">
              <img ngSrc="icons\Group 117.svg"
                width="24"
                height="24" />
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<p-dialog *ngIf="isOpenAddEditProjectIncome"
  [header]="modalTitle"
  [(visible)]="isOpenAddEditProjectIncome"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [class.height-size]="mode === 'insert' || mode === 'edit'"
  [style]="{ width: '800px', height: '400px' }">
  <PABudget-add-edit-project-cost [data]="addEditData"
    [mode]="mode"
    (isSuccess)="reloadData()"></PABudget-add-edit-project-cost>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"
  [rtl]="true"></p-confirmDialog>