.btn-lookup-list {
    height: 32px;
    width: 32px;
    border: 1px solid #ced4da;
    left: 1px;
    position: relative;
    cursor: pointer;
}

.align-c {
    align-self: center;
}

.w-80 {
    width: 89% !important;
}