<div class="row bottom-section">
  <div class="co-info-box">
    <h3>{{ selectedPlanName }}</h3>
    <div class="row">
      <p-table #dataTable dataKey="id" class="data-table d-none d-lg-block" [styleClass]="gridClass" [rowHover]="true"
        [paginator]="true" [rows]="dataTableRows" [rowsPerPageOptions]="[10, 20, 30]" [totalRecords]="totalCount"
        [value]="planDetailData?.body" [columns]="planDetailData?.headers" [loading]="loading"
        (onLazyLoad)="loadData($event)" [tableStyle]="{ 'min-width': '75rem' }" [lazy]="true" [(first)]="first">
        <!-- table header -->
        <ng-template pTemplate="header" let-columns>
          <div class="row row-feature">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
              <div class="row">
                <app-select-date [companyId]="inputData.companyId" [selectType]="selectDateType"
                  (selectedVal)="returnSelectedDate($event)"></app-select-date>
              </div>
            </div>
          </div>
          <tr class="data-table__header">
            <div *ngFor="let col of columns" class="headerStyle">
              <th style="min-width: 7rem">
                <strong> {{ col.headerName }} </strong>
              </th>
            </div>
          </tr>
        </ng-template>
        <!-- / table header -->

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <div class="detailStyle" [ngStyle]="{ 'background-color': rowData.color  }">
              <td *ngFor="let col of columns" >
                {{ rowData[col.field] }}
              </td>
            </div>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>