 /* You can add global styles to this file, and also import other style files */

 /*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
 @import 'assets/showcase/styles/flags.css';
 @import "primeicons/primeicons.css";
 @import "./assets/css/customize-library.scss";
 @import "./assets/css/custom.scss";



 :root {
   scroll-behavior: smooth;

   --main-transition: all 0.2s linear;
   --filter-list-width: 200px;
   --sidemenu-width: 240px;
   // --sidemenu-bgcolor:#DDF1E1;
   --sidemenu-bgcolor: #0F172A;
   // --sidemenu-text-color:#404040;
   --sidemenu-text-color: #ABAEB5;
   --sidemenu-sub-color: #909090;
   --sidemenu-hover-color: #ABAEB5;

   --header-height: 50px;
   --footer-height: 30px;
   --toolbar-height: 72px;

   --z-index-main-tab-bar: 92;
   --z-index-main-loading: 93;
   --z-index-footer: 94;
   --z-index-header: 96;
   --z-index-sidemenu: 103;
   --z-index-sidemenu-header: 104;

   --loading-element-size: 3px;

   --dashboard-all-child-company: purple;
   --dashboard-all-my-adverts: #008061;
   --dashboard-all-adverts: #db2896;
   --dashboard-all-publisher: #2872db;
   --dashboard-all-online-adverts: #fd7e14;
 }

 @font-face {
   font-family: Shabnam;
   src: url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-FD.eot');
   src: url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-FD.eot?#iefix') format('embedded-opentype'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-FD.woff2') format('woff2'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-FD.woff') format('woff'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-FD.ttf') format('truetype');
   font-weight: normal;
 }

 @font-face {
   font-family: Shabnam;
   src: url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Bold-FD.eot');
   src: url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Bold-FD.eot?#iefix') format('embedded-opentype'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Bold-FD.woff2') format('woff2'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Bold-FD.woff') format('woff'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Bold-FD.ttf') format('truetype');
   font-weight: bold;
 }

 @font-face {
   font-family: Shabnam;
   src: url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Thin-FD.eot');
   src: url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Thin-FD.eot?#iefix') format('embedded-opentype'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Thin-FD.woff2') format('woff2'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Thin-FD.woff') format('woff'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Thin-FD.ttf') format('truetype');
   font-weight: 100;
 }

 @font-face {
   font-family: Shabnam;
   src: url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Light-FD.eot');
   src: url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Light-FD.woff2') format('woff2'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Light-FD.woff') format('woff'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Light-FD.ttf') format('truetype');
   font-weight: 300;
 }

 @font-face {
   font-family: Shabnam;
   src: url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Medium-FD.eot');
   src: url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Medium-FD.eot?#iefix') format('embedded-opentype'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Medium-FD.woff2') format('woff2'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Medium-FD.woff') format('woff'),
     url('assets/fonts/shabnam-font-v5.0.1/Farsi-Digits/Shabnam-Medium-FD.ttf') format('truetype');
   font-weight: 500;
 }

 * {
   box-sizing: border-box;
   font-family: Shabnam;
 }

 html {
   direction: rtl;
   background-color: var(--main-color);
 }

 html,
 body {
   font-size: 12px;
 }

 /*--------------------------------------------------------------
# MingCute Icon
--------------------------------------------------------------*/
 [class^='mgc_'],
 [class*=' mgc_']:before {
   color: unset !important;
 }

 /*--------------------------------------------------------------
# Custome Global Class
--------------------------------------------------------------*/
 .bg-main {
   background-color: var(--main-color);
 }

 .h-full {
   height: 100%;
 }

 .w-full {
   width: 100%;
 }

 .h-min-100 {
   min-height: 100%;
 }

 .w-min-100 {
   min-height: 100%;
 }

 .jc-center {
   justify-content: center;
 }

 .ai-center {
   align-items: center;
 }

 .m-6 {
   margin: 4rem !important;
 }

 .m-7 {
   margin: 5rem !important;
 }

 .m-8 {
   margin: 6rem !important;
 }

 .m-9 {
   margin: 9rem !important;
 }

 .m-10 {
   margin: 10rem !important;
 }

 .mt-8 {
   margin-top: 8px !important;
 }

 .ml-8 {
   margin-left: 8px !important;
 }

 .mb-8 {
   margin-bottom: 8px !important;
 }

 .mr-8 {
   margin-right: 8px !important;
 }

 .mt-12 {
   margin-top: 12px !important;
 }

 .ml-12 {
   margin-left: 12px !important;
 }

 .mb-12 {
   margin-bottom: 12px !important;
 }

 .mr-12 {
   margin-right: 12px !important;
 }

 .mt-24 {
   margin-top: 24px !important;
 }

 .ml-24 {
   margin-left: 24px !important;
 }

 .mb-24 {
   margin-bottom: 24px !important;
 }

 .mr-24 {
   margin-right: 24px !important;
 }

 /* country */
 .country-item {
   display: flex;
   align-items: center;

   img.flag {
     width: 18px;
     margin-right: 0.5rem;
   }
 }

 .table-action-btns button {
   height: 1.357rem !important;
 }

 /* fieldset */
 legend {
   width: fit-content !important;
   float: inherit !important;
   margin-right: 20px;
   font-size: 1.2rem !important;
 }

 .profile-iconClass {
   font-size: 18px;
   margin: -8px 0px 0px 8px;
 }

 .profile-menu {
   width: 220px;
 }

 .needs-menu {
   background-color: red;
 }

 .spinner-display {
   display: unset !important;
 }

 .spinner-not-display {
   display: none !important;
 }

 .row-btn {
   text-align: left;
   margin-top: 40px;
 }

 /* width */
 ::-webkit-scrollbar {
   width: 5px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
   background: #eee;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #334f3c;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #8d9b91;
 }

 .panel-search {
   border-radius: 15px;
   background: var(--Base-White, #FFF);
   box-shadow: 0px 0px 6px 0px rgba(182, 194, 211, 0.25);
   padding: 7px 10px;
 }

 .back-btn{
  width: 140px;
  height: 40px;
}