<!-- pop up messages -->
<p-toast key="userRoleAssignment" position="bottom-left"></p-toast>

<!-- data table -->
<section class="section">
  <!-- <div class="card">
    <div class="card-body"> -->
  <div class="card-text pt-3"></div>
  <!-- input group -->
  <div class="pb-2">
    <p-panel class="search-panel__secation pb-1" header="تخصیص نقش به کاربر">
      <div class="container">
        <div class="row row-cols-lg-3 row-cols-1">
          <!-- عنوان‌ها -->
          <div class="col my-1">
            <label for="selectUser">انتخاب کاربر</label>
            <p-dropdown
              id="selectUser"
              class="col"
              styleClass="w-100 my-1"
              optionLabel="fullName"
              [options]="users"
              placeholder="انتخاب کنید"
              filterBy="fullName"
              [filter]="true"
              [showClear]="true"
              [(ngModel)]="selectedUser">
              <ng-template pTemplate="selectedItem">
                <div>
                  {{ selectedUser.fullName }}
                </div>
              </ng-template>
              <ng-template let-user pTemplate="item">
                <div>
                  {{ user.fullName }}
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <!-- / عنوان‌ها -->

          <!-- نقش -->
          <div class="col my-1">
            <label for="selectRole">انتخاب نقش</label>
            <p-dropdown
              id="selectRole"
              class="col"
              styleClass="w-100 my-1"
              optionLabel="title"
              [options]="roles"
              placeholder="''"
              [(ngModel)]="selectedRole"
              placeholder="انتخاب کنید"
              (onChange)="resetSelectedCompany($event)">
            </p-dropdown>
          </div>
          <!-- / نقش -->

          <!-- سازمان -->
          <div class="col my-1">
            <label for="selectCompanies">انتخاب سازمان</label>
            <p-dropdown
              id="selectCompanies"
              class="col"
              styleClass="w-100 my-1"
              optionLabel="companyName"
              placeholder="انتخاب کنید"
              [disabled]="!selectedRole.isNeedCompany"
              [options]="companies"
              [(ngModel)]="selectedCompany"
              [filter]="true">
            </p-dropdown>
          </div>
          <!-- / سازمان -->

          <!-- دکمه ها -->
          <div
            class="d-flex justify-content-center justify-content-md-end pt-3 w-100">
            <p-button
              class="pe-2"
              styleClass="p-button-success"
              label="تایید"
              icon="pi pi-check"
              [loading]="assignRoleLoading"
              (click)="
                assignRoleTouser(selectedUser, selectedRole, selectedCompany)
              "></p-button>

            <!-- <p-button
                  class="pe-2"
                  styleClass="p-button-warning"
                  label="انصراف"
                  icon="pi pi-times"></p-button> -->
          </div>
          <!-- / دکمه ها -->
        </div>
      </div>
    </p-panel>
  </div>
  <!-- / input group -->

  <!-- data table -->
  <p-table
    #dataTable
    dataKey="id"
    class="data-table d-none d-lg-block"
    [styleClass]="gridClass"
    [rowsPerPageOptions]="[10, 20, 30]"
    [rows]="dataTableRows"
    [totalRecords]="totalCount"
    [value]="userRolesList"
    [loading]="loading"
    [tableStyle]="{ 'min-width': '75rem' }"
    [lazy]="true"
    [rowHover]="true"
    [paginator]="true"
    (onLazyLoad)="getUserRolesList($event)"
    [(first)]="first">
    <!-- table header -->
    <ng-template pTemplate="header">
      <tr class="data-table__header">
        <!-- <th style="min-width: 3rem">
              <strong>ردیف</strong>
            </th> -->

        <th style="min-width: 3rem">
          <strong>نام</strong>
        </th>

        <th style="min-width: 10rem">
          <strong>نام خانوادگی</strong>
        </th>

        <th style="min-width: 10rem">
          <strong>کد ملی</strong>
        </th>

        <th style="min-width: 10rem">
          <strong>نقش</strong>
        </th>
      </tr>
    </ng-template>
    <!-- / table header -->
    <!-- table body -->
    <ng-template pTemplate="body" let-userRole let-rowIndex="rowIndex">
      <tr>
        <!-- <td>
              <strong style="font-size: 17px">
                {{ rowIndex + 1 | faNum }}
              </strong>
            </td> -->

        <td>{{ userRole.firstName }}</td>

        <td>{{ userRole.lastName }}</td>

        <td>{{ userRole.nationalID | faNum }}</td>

        <td>{{ userRole.roleTitle }}</td>
      </tr>
    </ng-template>
    <!-- / table body -->
  </p-table>
  <!-- data table -->

  <!-- data list -->
  <div class="data-list d-block d-lg-none">
    <ul *ngFor="let userRole of userRolesList" class="list-group my-1">
      <!-- نام -->
      <li class="list-group-item">
        <div class="row">
          <!-- title -->
          <div class="col my-1 text-center">
            <strong>نام</strong>
          </div>
          <!-- / title -->

          <!-- value -->
          <div class="col my-1 text-center">
            {{ userRole.firstName }}
          </div>
          <!-- / value -->
        </div>
      </li>
      <!-- / نام -->

      <!-- نام خانوادگی -->
      <li class="list-group-item">
        <div class="row">
          <!-- title -->
          <div class="col my-1 text-center">
            <strong>نام خانوادگی</strong>
          </div>
          <!-- / title -->

          <!-- value -->
          <div class="col my-1 text-center">
            {{ userRole.lastName }}
          </div>
          <!-- / value -->
        </div>
      </li>
      <!-- / نام خانوادگی -->

      <!-- کد ملی -->
      <li class="list-group-item">
        <div class="row">
          <!-- title -->
          <div class="col my-1 text-center">
            <strong>کد ملی</strong>
          </div>
          <!-- / title -->

          <!-- value -->
          <div class="col my-1 text-center">
            {{ userRole.nationalID }}
          </div>
          <!-- / value -->
        </div>
      </li>
      <!-- / کد ملی -->

      <!-- نقش -->
      <li class="list-group-item">
        <div class="row">
          <!-- title -->
          <div class="col my-1 text-center">
            <strong>نقش</strong>
          </div>
          <!-- / title -->

          <!-- value -->
          <div class="col my-1 text-center">
            {{ userRole.roleTitle }}
          </div>
          <!-- / value -->
        </div>
      </li>
      <!-- / نقش -->
    </ul>
  </div>
  <!-- / data list -->
  <!-- </div>
  </div> -->
</section>
<!-- / data table -->
