<p-toast key="mission" position="bottom-left"></p-toast>

<form #formDir="ngForm" [formGroup]="addEditForm" (ngSubmit)="addEditAssemblyAssignment()">
  <div class="container row">
    <div class="col-12 mt-2">
      <label for="budgetPeriodId"> شناسه دوره بودجه </label>
      <p-dropdown
        id="budgetPeriodId"
        name="budgetPeriodId"
        formControlName="budgetPeriodId"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [filter]="true"
        [readonly]="true">
      </p-dropdown>
    </div>
    <div class="col-12 mt-2">
      <label for="meetingId"> شناسه جلسه </label>
      <p-dropdown
        id="meetingId"
        name="meetingId"
        formControlName="meetingId"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [filter]="true"
        [readonly]="true">
      </p-dropdown>
    </div>
    <div class="col-12 mt-2">
      <label for="typeCode"> نوع صورتجلسه </label>
      <p-dropdown
        id="typeCode"
        name="typeCode"
        formControlName="typeCode"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [filter]="true"
        [readonly]="true">
      </p-dropdown>
    </div>
    <div class="col-12 mt-2">
      <label for="companyId"> شناسه شرکت </label>
      <p-dropdown
        id="companyId"
        name="companyId"
        formControlName="companyId"
        styleClass="w-100 my-1"
        optionLabel="title"
        optionValue="id"
        placeholder="انتخاب کنید"
        [filter]="true"
        [readonly]="true">
      </p-dropdown>
    </div>

    <div class="col-12 row-btn row-btn-fixed-bottom">
      <p-button
        class="pe-2 p-button-wide"
        styleClass="p-button-success"
        [label]="'ثبت'"
        type="submit"
        [loading]="isLoadingSubmit"></p-button>
    </div>
  </div>
</form>
